workflows2024/09/WK7Rhib5VQ67Omdi.json
{
  "active": false,
  "connections": {
    "Video Exists?": {
      "main": [
        [
          {
            "node": "Video Infos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Video in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Infos": {
      "main": [
        [
          {
            "node": "Create the Files Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Initial Data": {
      "main": [
        [
          {
            "node": "Video Infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1sec": {
      "main": [
        [
          {
            "node": "If runIndex >= 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Get video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video Details": {
      "main": [
        [
          {
            "node": "If Video Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video Exists?": {
      "main": [
        [
          {
            "node": "Update Video Details DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If runIndex >= 3": {
      "main": [
        [
          {
            "node": "Unable to Retrieve Video Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Task Status": {
      "main": [
        [
          {
            "node": "Status ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status ok?": {
      "main": [
        [
          {
            "node": "Get Video from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Is Input Data Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Input Data Complete?": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Input Data Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Input Data Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Verification": {
      "main": [
        [
          {
            "node": "Validate Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Task Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Completed with Success1": {
      "main": [
        [
          {
            "node": "Call Back Task Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Unable to Retrieve Video Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unable to Retrieve Video Error": {
      "main": [
        [
          {
            "node": "Prepare Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create the Files Structure": {
      "main": [
        [
          {
            "node": "Get video Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error FTP Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing5": {
      "main": [
        [
          {
            "node": "Prepare Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error": {
      "main": [
        [
          {
            "node": "Call Back Task Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Log": {
      "main": [
        [
          {
            "node": "Insert Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Video from DB": {
      "main": [
        [
          {
            "node": "Video Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Error": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Input Data Error": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error FTP Folders": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Log": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Video in DB": {
      "main": [
        [
          {
            "node": "Set Initial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details DB": {
      "main": [
        [
          {
            "node": "Return Completed with Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-07T12:43:26.665Z",
  "id": "WK7Rhib5VQ67Omdi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Boost - Insert YT Video in DB",
  "nodes": [
    {
      "parameters": {
        "content": "## Return Error",
        "height": 401.53991537241654,
        "width": 4002.3331540741938,
        "color": 3
      },
      "id": "eb5fc343-3499-4af3-85ed-8ab602b913f8",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Validate Input Data before processing the Workflow.",
        "height": 604.5820543501485,
        "width": 1174.0072535259465,
        "color": 6
      },
      "id": "919d7fd0-ed5f-4947-81eb-edbdc39f11d4",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        225.95482195207205,
        -320
      ]
    },
    {
      "parameters": {
        "content": "![Image](https://boostperformance.ai/logos/logo_boost_performance.png)\n",
        "height": 126.5138075838814,
        "width": 242.73163146139782,
        "color": 7
      },
      "id": "5dc6665f-7229-4295-9d01-96eed872439b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        -480
      ]
    },
    {
      "parameters": {
        "content": "## Insert a New Youtube Video In DB to process.",
        "height": 605.728168762561,
        "width": 1380.6222033130616
      },
      "id": "e80c9df8-b970-4753-ae71-9ae535444915",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1450.9409659166922,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "35d18925-c707-4484-bdfc-8ba9bda8b35d",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3c5216a-eec5-4597-9b60-8f2eae91154a",
      "name": "Video Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        1720,
        -180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Update Video Details From Youtube",
        "height": 610.0090090045535,
        "width": 1283.6569708874845
      },
      "id": "f6765137-164d-41d6-8761-231c4dfc0bc1",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2900,
        -320
      ]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c8a3f83e-131c-4d6f-840d-fb40687f86f2",
      "name": "Video Infos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        -200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9d2652c-ff45-4ccf-805a-87493db17e44",
              "name": "audio_downloaded",
              "value": "",
              "type": "string"
            },
            {
              "id": "5b8cbd52-627e-48df-9181-f0e3e677c84c",
              "name": "transcript_provider_id",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5de14d0d-cdf0-4383-8fc9-258735104144",
      "name": "Set Initial Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        -80
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "19e40a35-9544-43f5-8ce1-cc2993e58da2",
      "name": "Wait 1sec",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3420,
        20
      ],
      "webhookId": "11154d22-11f8-45d5-bc38-be6fa4b5023c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e5a31932-7be3-49ca-bd87-cf25e7ba0ade",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c8715da6-6b51-434b-90e9-bb699a7d24a1",
      "name": "If runIndex >= 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3680,
        20
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "613aaf89-d52a-477f-ae64-7f3c037832d8",
      "name": "Clean Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3980,
        80
      ]
    },
    {
      "parameters": {
        "url": "=https://yt-api.p.rapidapi.com/video/info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Workflow Data').item.json.video_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0aedde39-074c-463a-9c75-17e66bed4136",
      "name": "Get video Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3020,
        20
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXubOREOSYfIze3c",
          "name": "RapidAPI - UltimVision"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1b1489b9-2eab-4f56-8851-ac10e68e5c73",
              "leftValue": "={{ $json.id }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b66a56c-9b09-4ae8-b365-d6685af28669",
      "name": "If Video Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3200,
        -100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb8e0c7e-6bd8-4f88-9f30-c7f1a1f03d62",
              "name": "success",
              "value": false,
              "type": "string"
            },
            {
              "id": "97f44743-7de0-4549-acaa-c6d6a9b9b9fe",
              "name": "message",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "121c6841-7b0d-4584-964c-3ebf44d469d0",
              "name": "workflow_name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "b43bc800-edaf-4bd3-8ed9-7fddf370718e",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "2609d1bc-a717-497b-8868-ac87e84c21ec",
              "name": "data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "b4c8fa45-da53-4082-a33d-39c11fe951f5",
              "name": "slack",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "07affdcc-131b-4ccc-9742-03f02dd43f2a",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "30ce8759-f90a-4b8f-9597-d89023bbf0be",
              "name": "execution_resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "b6467bb9-f54a-4e83-81ca-133054971a20",
              "name": "execution_mode",
              "value": "={{ $execution.mode }}",
              "type": "string"
            },
            {
              "id": "5ba31a7d-9ab2-4b96-a76c-2e09c7d01c10",
              "name": "type",
              "value": "Error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06bc4c20-9fc6-43d9-998f-3b8850e311f4",
      "name": "Unable to Retrieve Video Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        4040,
        380
      ]
    },
    {
      "parameters": {
        "content": "### Return Error",
        "height": 230.76492242997267,
        "width": 231.41178453104197,
        "color": 3
      },
      "id": "cbfb7f23-a72c-4db3-bd21-ef911a4a6c1e",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4940,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "n1eCnGvb4t2CYhce",
          "mode": "id"
        },
        "options": {}
      },
      "id": "90aa57fb-061b-4a3b-addc-2507fe383654",
      "name": "Validate Task Status",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        980,
        -120
      ]
    },
    {
      "parameters": {
        "content": "### Return Completed",
        "height": 234.60734154241658,
        "color": 4
      },
      "id": "ee111722-a026-4898-993a-c58c0c1ff822",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4940,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c65419d-a707-4804-bca2-e20f9a0d79ed",
              "name": "execution_id",
              "value": "={{ $json.execution_id }}",
              "type": "number"
            },
            {
              "id": "79ee686d-7615-4d24-be61-4665f060b377",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a6fad1b7-79fe-4d89-add9-0e7239a07667",
      "name": "Task Verification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0cd457e3-0951-4e44-8bbf-0ba3614c1f42",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "c7db71eb-ed65-4ae4-b7ea-d5e7027b0543",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8996a9b5-759d-4522-af9a-8a768ebda6b2",
      "name": "Status ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1200,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "4da88737-a5a4-4206-ae68-2111eb164c95",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a7e6a601-e9ec-440f-94ad-2aea5b22d776",
              "leftValue": "={{ $json.data.video_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f979fd4e-f81d-419f-acac-0b2804447221",
              "leftValue": "={{ $json.data.client_details }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a5434a45-e52c-4764-b06e-f520cc4b2b6d",
              "leftValue": "={{ $json.action }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4004812d-528a-4296-be28-7a3f32cee906",
              "leftValue": "={{ $json.data.video_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "de94c60c-b1f0-4172-b313-46d4899d3e13",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "db2df2a5-8875-4dc6-9ba3-cafe1998f782",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "adef2169-eb67-41ee-864a-ddef2472af3d",
              "leftValue": "={{ $json.next_sequence }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "56e24084-1bba-4193-ac93-0d397823820f",
              "leftValue": "={{ $json.next_sequence }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "ee953898-1147-4876-88a4-f43cb82055c5",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ed489722-f0ff-4979-9873-eb7320dea995",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2015014-86f8-403f-beaf-671215618b5b",
      "name": "Is Input Data Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        340,
        -40
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "094a42b2-f44f-4c97-ba3f-d8c5f5bdd516",
              "name": "client_id",
              "value": "={{ $json.data.client_details.client_id }}",
              "type": "string"
            },
            {
              "id": "fc60e719-64aa-4ef0-ba28-dbdd477a1746",
              "name": "client_name",
              "value": "={{ $json.data.client_details.name }}",
              "type": "string"
            },
            {
              "id": "1dc76d47-c78a-4d8c-b0b7-0158ce00f3c5",
              "name": "path",
              "value": "={{ $json.data.client_details.path }}",
              "type": "string"
            },
            {
              "id": "1d18163a-dc87-4209-a685-cc8999b5425b",
              "name": "video_id",
              "value": "={{ $json.data.video_id }}",
              "type": "string"
            },
            {
              "id": "6e470941-0ecd-405b-8cfa-9cfac0b71743",
              "name": "execution_id",
              "value": "={{  $execution.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "data",
        "options": {}
      },
      "id": "bb9c0a7a-25b6-43c4-9fee-ecc4b5ffcf39",
      "name": "Workflow Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        -120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hnzntJEVcAoZejQ5",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "09677584-2316-4f68-9068-69b28a148cf2",
      "name": "Call Back Task Manager",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        5320,
        408
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c63dda1-c6c9-484e-9665-7f4808981bbd",
              "name": "task_id",
              "value": "={{ $('Workflow Data').item.json.task_id }}",
              "type": "number"
            },
            {
              "id": "c59f80bd-ec6c-4471-9e81-131fc46c5157",
              "name": "job_id",
              "value": "={{ $('Workflow Data').item.json.job_id }}",
              "type": "number"
            },
            {
              "id": "37960e4c-e4b5-457e-9f09-34d9092d276a",
              "name": "sequence_id",
              "value": "={{ $('Workflow Data').item.json.next_sequence }}",
              "type": "number"
            },
            {
              "id": "51e7e0dc-0692-4f4a-9194-4372dde3aa74",
              "name": "type",
              "value": "sequence",
              "type": "string"
            },
            {
              "id": "88c57a7d-08ae-4d99-94cf-dd74097496fd",
              "name": "execution_id",
              "value": "={{ $('Workflow Data').item.json.execution_id }}",
              "type": "number"
            },
            {
              "id": "74854e30-2f8a-4efc-9599-a033383134b6",
              "name": "success",
              "value": "true",
              "type": "string"
            },
            {
              "id": "fb5acc62-6b57-4a47-a542-6efb7e42d1bf",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a61dae2b-cc67-4278-913b-1864fce203fd",
      "name": "Return Completed with Success1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5000,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Final Stage",
        "height": 662.7338756923089,
        "width": 569.6283673150035,
        "color": 6
      },
      "id": "129fcaeb-8dbf-41ab-8ffe-e6486f2fb147",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4660,
        148
      ]
    },
    {
      "parameters": {},
      "id": "ee33fccd-69d9-4eca-afe3-19c331dfab61",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3420,
        380
      ]
    },
    {
      "parameters": {},
      "id": "33743260-53de-4a25-8ef3-6bf479805414",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1140,
        560
      ]
    },
    {
      "parameters": {},
      "id": "5b7735b9-1fa8-4be6-8fa4-b5efb6f6ae7b",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2080,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Prepare Error Log",
        "height": 265.5604114594288,
        "width": 280.9127504092419,
        "color": 3
      },
      "id": "37056658-0071-44e2-bcab-659551772d74",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4320,
        488
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://boostperformance.ai/boost/create_youtube_folders.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $vars.JUNGLE_PODCAST_CREATOR_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_path",
              "value": "={{ $('Workflow Data').item.json[\"path\"] }}"
            },
            {
              "name": "video_id",
              "value": "={{ $('Workflow Data').item.json[\"video_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "650a6595-ba43-4291-a246-885562ac25db",
      "name": "Create the Files Structure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        -200
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "cb1392cc-e180-4d4f-a5dd-83d7e26eab03",
      "name": "No Operation, do nothing5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3380,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c63dda1-c6c9-484e-9665-7f4808981bbd",
              "name": "task_id",
              "value": "={{ $('Workflow Data').item.json.task_id }}",
              "type": "number"
            },
            {
              "id": "c59f80bd-ec6c-4471-9e81-131fc46c5157",
              "name": "job_id",
              "value": "={{ $('Workflow Data').item.json.job_id }}",
              "type": "number"
            },
            {
              "id": "37960e4c-e4b5-457e-9f09-34d9092d276a",
              "name": "sequence_id",
              "value": "={{ $('Workflow Data').item.json.next_sequence }}",
              "type": "number"
            },
            {
              "id": "51e7e0dc-0692-4f4a-9194-4372dde3aa74",
              "name": "type",
              "value": "error",
              "type": "string"
            },
            {
              "id": "88c57a7d-08ae-4d99-94cf-dd74097496fd",
              "name": "execution_id",
              "value": "={{ $('Workflow Data').item.json.execution_id }}",
              "type": "number"
            },
            {
              "id": "4f9ea4c6-7370-4aa2-835a-fb0475c4b994",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "774c4c54-ce73-4275-a206-5b3bb7637be7",
      "name": "Return Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5000,
        580
      ]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5ca7eb85-f257-4d9b-b920-584eb2817b4b",
      "name": "Prepare Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4420,
        568
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "boost_yt_videos",
          "mode": "list",
          "cachedResultName": "boost_yt_videos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "video_id",
              "value": "={{ $('Workflow Data').item.json.video_id}}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "audio_downloaded",
            "video_downloaded",
            "status",
            "transcript_provider_id",
            "transcript_provider",
            "id",
            "video_status",
            "audio_status"
          ]
        }
      },
      "id": "2cae1480-0f4a-498a-8d00-bd52c86878af",
      "name": "Get Video from DB",
      "type": "n8n-nodes-base.mySql",
      "position": [
        1520,
        -60
      ],
      "typeVersion": 2.4,
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab6ddfb-5a38-4311-ad98-559c909770c5",
              "name": "continue_sequence",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c3251aa8-978c-4c08-a5ca-8cc39975f4de",
      "name": "Status Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb8e0c7e-6bd8-4f88-9f30-c7f1a1f03d62",
              "name": "success",
              "value": false,
              "type": "string"
            },
            {
              "id": "97f44743-7de0-4549-acaa-c6d6a9b9b9fe",
              "name": "message",
              "value": "Invalid input data to execute the workflow. Operation canceled.",
              "type": "string"
            },
            {
              "id": "121c6841-7b0d-4584-964c-3ebf44d469d0",
              "name": "workflow_name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "b43bc800-edaf-4bd3-8ed9-7fddf370718e",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "2609d1bc-a717-497b-8868-ac87e84c21ec",
              "name": "data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "b4c8fa45-da53-4082-a33d-39c11fe951f5",
              "name": "slack",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "07affdcc-131b-4ccc-9742-03f02dd43f2a",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "30ce8759-f90a-4b8f-9597-d89023bbf0be",
              "name": "execution_resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "b6467bb9-f54a-4e83-81ca-133054971a20",
              "name": "execution_mode",
              "value": "={{ $execution.mode }}",
              "type": "string"
            },
            {
              "id": "5ba31a7d-9ab2-4b96-a76c-2e09c7d01c10",
              "name": "type",
              "value": "Error",
              "type": "string"
            },
            {
              "id": "081488a0-aeca-4525-9cff-6e368630ed57",
              "name": "continue_sequence",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "b8699edc-ba26-4b82-b78f-609a353f1527",
      "name": "Invalid Input Data Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        780,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb8e0c7e-6bd8-4f88-9f30-c7f1a1f03d62",
              "name": "success",
              "value": false,
              "type": "string"
            },
            {
              "id": "97f44743-7de0-4549-acaa-c6d6a9b9b9fe",
              "name": "message",
              "value": "=Errors with the creation of Folders.",
              "type": "string"
            },
            {
              "id": "121c6841-7b0d-4584-964c-3ebf44d469d0",
              "name": "workflow_name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "b43bc800-edaf-4bd3-8ed9-7fddf370718e",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "2609d1bc-a717-497b-8868-ac87e84c21ec",
              "name": "data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "b4c8fa45-da53-4082-a33d-39c11fe951f5",
              "name": "slack",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "07affdcc-131b-4ccc-9742-03f02dd43f2a",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "30ce8759-f90a-4b8f-9597-d89023bbf0be",
              "name": "execution_resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "b6467bb9-f54a-4e83-81ca-133054971a20",
              "name": "execution_mode",
              "value": "={{ $execution.mode }}",
              "type": "string"
            },
            {
              "id": "5ba31a7d-9ab2-4b96-a76c-2e09c7d01c10",
              "name": "type",
              "value": "Error",
              "type": "string"
            },
            {
              "id": "c142ed38-3dbc-48b1-bf5d-220c4dfd54f8",
              "name": "continue_sequence",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "4e214b87-29e9-40ad-b130-e61e51af87e0",
      "name": "Error FTP Folders",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2880,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "jxGlO5w6gHJCOVFN",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "a5d4d2aa-1985-4048-b01b-ff1e9a9166be",
      "name": "Insert Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4740,
        428
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "d99870da-3d12-4e04-ac92-b2e27cc14830",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4760,
        648
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "boost_yt_videos",
          "mode": "list",
          "cachedResultName": "boost_yt_videos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "customer_id",
              "value": "={{ $('Workflow Data').item.json[\"client_id\"] }}"
            },
            {
              "column": "customer_name",
              "value": "={{ $('Workflow Data').item.json[\"client_name\"] }}"
            },
            {
              "column": "video_id",
              "value": "={{ $('Workflow Data').item.json[\"video_id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "72b4b34c-9707-4584-8ddc-691b210eb8e5",
      "name": "Insert Video in DB",
      "type": "n8n-nodes-base.mySql",
      "position": [
        1940,
        40
      ],
      "typeVersion": 2.4,
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "boost_yt_videos",
          "mode": "list",
          "cachedResultName": "boost_yt_videos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "video_id",
        "valueToMatchOn": "={{ $('Workflow Data').item.json[\"video_id\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "title",
              "value": "={{ $json.title }}"
            },
            {
              "column": "duration",
              "value": "={{ $json.lengthSeconds }}"
            },
            {
              "column": "channelTitle",
              "value": "={{ $json.channelTitle }}"
            },
            {
              "column": "channelId",
              "value": "={{ $json.channelId }}"
            },
            {
              "column": "description_video",
              "value": "={{ $json.description }}"
            },
            {
              "column": "category",
              "value": "={{ $json.category }}"
            },
            {
              "column": "publishDate",
              "value": "={{ $json.publishDate }}"
            },
            {
              "column": "viewcount",
              "value": "={{ $json.viewCount }}"
            },
            {
              "column": "subtitles_url",
              "value": "={{ $json.subtitles.subtitles[0].url }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "5e9b204f-fee5-4d37-ae69-a67f2457e1f5",
      "name": "Update Video Details DB",
      "type": "n8n-nodes-base.mySql",
      "position": [
        3420,
        -200
      ],
      "typeVersion": 2.4,
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "fXkkWUafb0bki9uP"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-24T16:38:49.491Z",
      "updatedAt": "2024-08-24T16:38:49.491Z",
      "id": "OwqwkxPGrxiRpjaG",
      "name": "Youtube"
    },
    {
      "createdAt": "2024-06-29T11:11:50.060Z",
      "updatedAt": "2024-06-29T11:11:50.060Z",
      "id": "ZKbx7utkuoZitBUT",
      "name": "Boost"
    },
    {
      "createdAt": "2024-09-07T13:08:32.695Z",
      "updatedAt": "2024-09-07T13:08:32.695Z",
      "id": "zvxPXyJqeprP9Nex",
      "name": "Core"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-17T21:51:16.000Z",
  "versionId": "0a5b35bd-554b-4d56-ac8e-a10a8ef352fc"
}