workflows2024/06/j7buWRcVhIfsUvJg.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Is Input Data Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status is transcript_completed?": {
      "main": [
        [
          {
            "node": "Get Intro Transcripts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get 5 Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Input Data Error": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Task Status": {
      "main": [
        [
          {
            "node": "Status ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Verification": {
      "main": [
        [
          {
            "node": "Validate Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status ok?": {
      "main": [
        [
          {
            "node": "Get Video Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Input Data Complete?": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Input Data Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Input Data Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Error": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Log": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Completed with Success1": {
      "main": [
        [
          {
            "node": "Call Back Task Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Insert Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Error": {
      "main": [
        [
          {
            "node": "Call Back Task Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Details": {
      "main": [
        [
          {
            "node": "Set Video Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Mysql Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Mysql Error": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Exists?": {
      "main": [
        [
          {
            "node": "Is Status is transcript_completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Intro Transcripts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Details": {
      "main": [
        [
          {
            "node": "Video Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 5 Transcripts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Task Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Select Timestamp Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Timestamp Sequence": {
      "main": [
        [
          {
            "node": "Loop through the Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop through the Sequences": {
      "main": [
        [
          {
            "node": "Aggregate Sequence's Images Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract the Sequence's Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sequence's Images Data": {
      "main": [
        [
          {
            "node": "Extracted Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the Sequence's Image": {
      "main": [
        [
          {
            "node": "Loop through the Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracted Images": {
      "main": [
        [
          {
            "node": "Analyse Image Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Prepare Images to Download1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Image Content": {
      "main": [
        [
          {
            "node": "Images Analysed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Analysed": {
      "main": [
        [
          {
            "node": "Prepare Images to Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Images to Download": {
      "main": [
        [
          {
            "node": "Upload Images To Client Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Images to Download1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Images To Client Vault": {
      "main": [
        [
          {
            "node": "Prepare Images to Upscale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Images to Upscale": {
      "main": [
        [
          {
            "node": "Upscale Images to HD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-29T12:54:04.198Z",
  "id": "j7buWRcVhIfsUvJg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Extract Images | Part-1 | Select Sequences to Extract",
  "nodes": [
    {
      "parameters": {},
      "id": "1578065d-22bd-4b11-8768-30fc9d58b3bc",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8a71d5cb-06a9-4934-a1f6-fecceeaeafdd",
              "leftValue": "={{ $json.transcription_status }}",
              "rightValue": "transcript_completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "34131635-49b5-430d-9173-e1903ba8fcb2",
              "leftValue": "={{ $json.transcription_status }}",
              "rightValue": "transcription_started",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4e5e52b2-9ef9-4b7e-9a75-fc44a8619841",
      "name": "Is Status is transcript_completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2040,
        1280
      ]
    },
    {
      "parameters": {
        "content": "### Return Error",
        "height": 230.76492242997267,
        "width": 256.97891933886075,
        "color": 3
      },
      "id": "0f3c6a3e-719a-4e8f-86f7-345accfbdc86",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        1620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb8e0c7e-6bd8-4f88-9f30-c7f1a1f03d62",
              "name": "success",
              "value": false,
              "type": "string"
            },
            {
              "id": "97f44743-7de0-4549-acaa-c6d6a9b9b9fe",
              "name": "message",
              "value": "Invalid input data to execute the workflow. Operation canceled.",
              "type": "string"
            },
            {
              "id": "121c6841-7b0d-4584-964c-3ebf44d469d0",
              "name": "workflow_name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "b43bc800-edaf-4bd3-8ed9-7fddf370718e",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "2609d1bc-a717-497b-8868-ac87e84c21ec",
              "name": "data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "b4c8fa45-da53-4082-a33d-39c11fe951f5",
              "name": "slack",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "07affdcc-131b-4ccc-9742-03f02dd43f2a",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "30ce8759-f90a-4b8f-9597-d89023bbf0be",
              "name": "execution_resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "b6467bb9-f54a-4e83-81ca-133054971a20",
              "name": "execution_mode",
              "value": "={{ $execution.mode }}",
              "type": "string"
            },
            {
              "id": "5ba31a7d-9ab2-4b96-a76c-2e09c7d01c10",
              "name": "type",
              "value": "Error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "21c58571-e0f7-4a68-8469-3e4d4a34f375",
      "name": "Invalid Input Data Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        400,
        1680
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "n1eCnGvb4t2CYhce",
          "mode": "id"
        },
        "options": {}
      },
      "id": "09f4829b-ff30-4a17-866f-372d7ad8496f",
      "name": "Validate Task Status",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        760,
        1340
      ]
    },
    {
      "parameters": {
        "content": "### Return Error",
        "height": 230.76492242997267,
        "width": 256.97891933886075,
        "color": 3
      },
      "id": "c82f1682-4d72-49ad-b79a-a3d7207a982c",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        1620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c65419d-a707-4804-bca2-e20f9a0d79ed",
              "name": "execution_id",
              "value": "={{ $json.execution_id }}",
              "type": "number"
            },
            {
              "id": "79ee686d-7615-4d24-be61-4665f060b377",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "49513b4b-d536-440b-8a17-9a0112dcad7f",
      "name": "Task Verification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0cd457e3-0951-4e44-8bbf-0ba3614c1f42",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "c7db71eb-ed65-4ae4-b7ea-d5e7027b0543",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9de00fc-0446-4801-b500-30ff69d5e563",
      "name": "Status ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        940,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a7e6a601-e9ec-440f-94ad-2aea5b22d776",
              "leftValue": "={{ $json.data.video_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f979fd4e-f81d-419f-acac-0b2804447221",
              "leftValue": "={{ $json.data.client_details }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a5434a45-e52c-4764-b06e-f520cc4b2b6d",
              "leftValue": "={{ $json.action }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4004812d-528a-4296-be28-7a3f32cee906",
              "leftValue": "={{ $json.data.video_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "de94c60c-b1f0-4172-b313-46d4899d3e13",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "db2df2a5-8875-4dc6-9ba3-cafe1998f782",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "adef2169-eb67-41ee-864a-ddef2472af3d",
              "leftValue": "={{ $json.next_sequence }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "56e24084-1bba-4193-ac93-0d397823820f",
              "leftValue": "={{ $json.next_sequence }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "ee953898-1147-4876-88a4-f43cb82055c5",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ed489722-f0ff-4979-9873-eb7320dea995",
              "leftValue": "={{ $json.job_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b92789a2-14ba-4fa4-99eb-93dc2998c368",
      "name": "Is Input Data Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        120,
        1400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "94dcfac1-a1e7-4f5b-b86a-6667191b2e75",
      "name": "Status Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        1678
      ]
    },
    {
      "parameters": {
        "content": "## Validate Initial Workflow Data and Task Status",
        "height": 642.8484883587129,
        "width": 1155.21298438169,
        "color": 6
      },
      "id": "f1c1bd78-1c6f-477a-9f01-226de1e91c00",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        52,
        1086.9624333144402
      ]
    },
    {
      "parameters": {
        "content": "## Code Section",
        "height": 665.9585005662136,
        "width": 3797.738990044955
      },
      "id": "105e3870-4d96-4e50-819f-7e190375ffd4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        1080
      ]
    },
    {
      "parameters": {
        "workflowId": "jxGlO5w6gHJCOVFN",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c45f7e99-d92e-427a-aabf-413f85a841fa",
      "name": "Insert Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5460,
        1518
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hnzntJEVcAoZejQ5",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "125fbc2a-0379-4286-b900-91eb6212c24c",
      "name": "Call Back Task Manager",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        6040,
        1358
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c63dda1-c6c9-484e-9665-7f4808981bbd",
              "name": "task_id",
              "value": "={{ $('Workflow Data').item.json.task_id }}",
              "type": "number"
            },
            {
              "id": "c59f80bd-ec6c-4471-9e81-131fc46c5157",
              "name": "job_id",
              "value": "={{ $('Workflow Data').item.json.job_id }}",
              "type": "number"
            },
            {
              "id": "37960e4c-e4b5-457e-9f09-34d9092d276a",
              "name": "sequence_id",
              "value": "={{ $('Workflow Data').item.json.next_sequence }}",
              "type": "number"
            },
            {
              "id": "51e7e0dc-0692-4f4a-9194-4372dde3aa74",
              "name": "type",
              "value": "sequence",
              "type": "string"
            },
            {
              "id": "88c57a7d-08ae-4d99-94cf-dd74097496fd",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "number"
            },
            {
              "id": "74854e30-2f8a-4efc-9599-a033383134b6",
              "name": "success",
              "value": "true",
              "type": "string"
            },
            {
              "id": "fb5acc62-6b57-4a47-a542-6efb7e42d1bf",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d13a9f00-1e2c-414f-bef7-6d8e33a99472",
      "name": "Return Completed with Success1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5240,
        1238
      ]
    },
    {
      "parameters": {
        "content": "### Return Completed",
        "height": 234.60734154241658,
        "color": 4
      },
      "id": "f617eb7f-37b7-4f62-aa30-c3edcb37d76d",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5180,
        1178
      ]
    },
    {
      "parameters": {
        "content": "### Return Error",
        "height": 230.76492242997267,
        "width": 231.41178453104197,
        "color": 3
      },
      "id": "786e29e0-9bff-4dbf-9db3-31187e47e22f",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5400,
        1458
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Final Stage",
        "height": 644.5092072087772,
        "width": 797.2663639041446,
        "color": 6
      },
      "id": "8e35b15b-ed79-4398-a289-47a4510d0b13",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5080,
        1083.8828736782439
      ]
    },
    {
      "parameters": {},
      "id": "e72214d3-a25c-4e36-8fba-6c9c01f0f412",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1460,
        2000
      ]
    },
    {
      "parameters": {},
      "id": "fb4f2c1e-8c92-4658-9750-15ab086ede71",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4620,
        1980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c63dda1-c6c9-484e-9665-7f4808981bbd",
              "name": "task_id",
              "value": "={{ $('Workflow Data').item.json.task_id }}",
              "type": "number"
            },
            {
              "id": "c59f80bd-ec6c-4471-9e81-131fc46c5157",
              "name": "job_id",
              "value": "={{ $('Workflow Data').item.json.job_id }}",
              "type": "number"
            },
            {
              "id": "37960e4c-e4b5-457e-9f09-34d9092d276a",
              "name": "sequence_id",
              "value": "={{ $('Workflow Data').item.json.next_sequence }}",
              "type": "number"
            },
            {
              "id": "51e7e0dc-0692-4f4a-9194-4372dde3aa74",
              "name": "type",
              "value": "error",
              "type": "string"
            },
            {
              "id": "88c57a7d-08ae-4d99-94cf-dd74097496fd",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "number"
            },
            {
              "id": "4f9ea4c6-7370-4aa2-835a-fb0475c4b994",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "95bc5ae3-3d58-4924-a9af-a4fa58684d17",
      "name": "Return Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5680,
        1520
      ]
    },
    {
      "parameters": {
        "content": "### Return Error",
        "height": 230.76492242997267,
        "width": 256.97891933886075,
        "color": 3
      },
      "id": "b594013a-ea98-4d6f-948f-0fe43d44c20a",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        1640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "boost_yt_videos",
          "mode": "list",
          "cachedResultName": "boost_yt_videos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "video_id",
              "value": "={{ $('Workflow Data').item.json.video_id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "transcript_provider_id",
            "transcription_status",
            "video_downloaded"
          ]
        }
      },
      "id": "8fbfb4f5-4b95-44d8-b360-1d3a4e6af389",
      "name": "Get Video Details",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1360,
        1380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb8e0c7e-6bd8-4f88-9f30-c7f1a1f03d62",
              "name": "success",
              "value": false,
              "type": "string"
            },
            {
              "id": "97f44743-7de0-4549-acaa-c6d6a9b9b9fe",
              "name": "message",
              "value": "This audio has already been downloaded. Operation canceled.",
              "type": "string"
            },
            {
              "id": "121c6841-7b0d-4584-964c-3ebf44d469d0",
              "name": "workflow_name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "b43bc800-edaf-4bd3-8ed9-7fddf370718e",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "2609d1bc-a717-497b-8868-ac87e84c21ec",
              "name": "data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "b4c8fa45-da53-4082-a33d-39c11fe951f5",
              "name": "slack",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "07affdcc-131b-4ccc-9742-03f02dd43f2a",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "30ce8759-f90a-4b8f-9597-d89023bbf0be",
              "name": "execution_resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "b6467bb9-f54a-4e83-81ca-133054971a20",
              "name": "execution_mode",
              "value": "={{ $execution.mode }}",
              "type": "string"
            },
            {
              "id": "5ba31a7d-9ab2-4b96-a76c-2e09c7d01c10",
              "name": "type",
              "value": "Error",
              "type": "string"
            },
            {
              "id": "ac26f946-2d3d-47a0-b8c2-3e4bbc953af0",
              "name": "continue_sequence",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "686e4fd6-a236-422f-aa89-5378d3859f81",
      "name": "Error Audio Already Downloaded",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2300,
        1700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb8e0c7e-6bd8-4f88-9f30-c7f1a1f03d62",
              "name": "success",
              "value": false,
              "type": "string"
            },
            {
              "id": "97f44743-7de0-4549-acaa-c6d6a9b9b9fe",
              "name": "message",
              "value": "={{ JSON.stringify($json.message) }}",
              "type": "string"
            },
            {
              "id": "121c6841-7b0d-4584-964c-3ebf44d469d0",
              "name": "workflow_name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "b43bc800-edaf-4bd3-8ed9-7fddf370718e",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "2609d1bc-a717-497b-8868-ac87e84c21ec",
              "name": "data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "b4c8fa45-da53-4082-a33d-39c11fe951f5",
              "name": "slack",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "07affdcc-131b-4ccc-9742-03f02dd43f2a",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "30ce8759-f90a-4b8f-9597-d89023bbf0be",
              "name": "execution_resume_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            },
            {
              "id": "b6467bb9-f54a-4e83-81ca-133054971a20",
              "name": "execution_mode",
              "value": "={{ $execution.mode }}",
              "type": "string"
            },
            {
              "id": "c4314f6c-f27c-4c2a-9fe3-db1db42e1191",
              "name": "type",
              "value": "Error",
              "type": "string"
            },
            {
              "id": "b3e5aab2-ca9f-4f09-bf2f-6d3406688ef9",
              "name": "continue_sequence",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "36a6c59e-9907-4183-8a3e-e4465f37d62d",
      "name": "Insert Mysql Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1620,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "bf770e57-1f61-42a1-8be6-726838f62260",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3100,
        2000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "16d62bbb-cf9c-485a-a104-42a9c653f825",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8bccb75-859f-4a99-a090-1b1ce08d4226",
      "name": "Video Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  FROM `boost_yt_transcripts` WHERE `video_id` = '{{ $('Workflow Data').item.json.video_id }}'  \nAND `start` > 27000\nORDER BY `boost_yt_transcripts`.`id` ASC\nLIMIT 1",
        "options": {}
      },
      "id": "1cd4c67a-c493-4bbe-be6d-460c84406bfc",
      "name": "Get Intro Transcripts",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2300,
        1200
      ],
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a39b79c5-3501-4363-8e84-7edb5b8f3042",
              "name": "video_path",
              "value": "=https://boostperformance.ai/boost/{{ $('Workflow Data').item.json.path }}/videos/",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d8de38b9-bb92-467d-b15b-edf6eb913dbf",
      "name": "Set Video Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        1300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e4558147-e70b-4377-930b-d35fb821beb5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3420,
        1400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e99320d1-43c9-4a30-a2d2-9d882f4445d3",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4060,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *  FROM `boost_yt_transcripts` WHERE `video_id` = '{{ $('Workflow Data').item.json.video_id }}'  \nORDER BY `boost_yt_transcripts`.`id` ASC\nLIMIT 100,5",
        "options": {}
      },
      "id": "9b405451-3f23-4ed0-bf40-6c6deac0b5d6",
      "name": "Get 5 Transcripts",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2300,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7ca33568-631f-4524-9f29-a3ded3bee137",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2660,
        960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "094a42b2-f44f-4c97-ba3f-d8c5f5bdd516",
              "name": "client_id",
              "value": "={{ $json.data.client_details.client_id }}",
              "type": "string"
            },
            {
              "id": "fc60e719-64aa-4ef0-ba28-dbdd477a1746",
              "name": "client_name",
              "value": "={{ $json.data.client_details.name }}",
              "type": "string"
            },
            {
              "id": "1dc76d47-c78a-4d8c-b0b7-0158ce00f3c5",
              "name": "path",
              "value": "={{ $json.data.client_details.path }}",
              "type": "string"
            },
            {
              "id": "1d18163a-dc87-4209-a685-cc8999b5425b",
              "name": "video_id",
              "value": "={{ $json.data.video_id }}",
              "type": "string"
            },
            {
              "id": "6e470941-0ecd-405b-8cfa-9cfac0b71743",
              "name": "execution_id",
              "value": "={{  $execution.id }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "data",
        "options": {}
      },
      "id": "f46f4a00-1f2c-4641-b269-e6d92baabec0",
      "name": "Workflow Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1338
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6cc52d6-3600-4459-a221-5fb38ad157d3",
              "name": "path",
              "value": "={{ $('Workflow Data').item.json.path }}",
              "type": "string"
            },
            {
              "id": "a0403be1-d929-4495-9c1d-f2de6976a40e",
              "name": "video_id",
              "value": "={{ $('Workflow Data').item.json.video_id }}",
              "type": "string"
            },
            {
              "id": "68b1f3ba-a946-43c0-acaa-65eced0e9694",
              "name": "images_data",
              "value": "={{ $json.images_data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "edf3e7d5-5eeb-4244-9531-54fbea3586d7",
      "name": "Prepare Images to Download",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4240,
        1260
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7vdFvoarsDik7DiW",
          "mode": "id"
        },
        "options": {}
      },
      "id": "395d0990-9d9a-47d2-bee7-94af09591403",
      "name": "Upload Images To Client Vault",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4460,
        1260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "4d561ffc-f011-4fcd-93dd-c42bb8652b46",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2540,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a37929ca-aa3a-438d-b136-c1ef6989d649",
              "name": "timestamp",
              "value": "={{ ($json.start + 2000 ) / 1000 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d8ebc086-f041-4582-b05c-fe978ccd24fe",
      "name": "Select Timestamp Sequence",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2780,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "879d0a9b-8f87-4897-9610-0c97e4240a91",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a823552d-9bc6-4a74-b0bb-8434f5950358",
      "name": "Extracted Images",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3560,
        1260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "71124c54-b23f-48d7-a5c1-e89c668de0ce",
      "name": "Loop through the Sequences",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3020,
        1380
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "images_data",
        "options": {}
      },
      "id": "1daaf31a-db3f-4ebc-ae8e-06af25f144b2",
      "name": "Aggregate Sequence's Images Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3280,
        1280
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.CREATOMATE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {\n    \"output_format\": \"png\",\n    \"snapshot_time\": {{ $json.timestamp }},\n    \"elements\": [\n      {\n        \"type\": \"video\",\n        \"source\": \"{{ $('Set Video Details').item.json.video_path }}{{ $('Set Video Details').item.json.video_downloaded }}\"\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "id": "9dc44e9e-8d0c-4df7-9c69-bdbc740e4fe7",
      "name": "Extract the Sequence's Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        1500
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zqNTVftuPa1YXWBW",
          "mode": "id"
        },
        "options": {}
      },
      "id": "15746cc6-eb3e-4bc2-912c-3c5140624f03",
      "name": "Analyse Image Content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3800,
        1260
      ]
    },
    {
      "parameters": {},
      "id": "45596151-613a-41a2-9492-45f3e631f3e5",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        700
      ]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "94c7be10-255b-41d5-994f-8cf2ea80b22d",
      "name": "Images Analysed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4020,
        1260
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C03mqiBORnDSq1Qx",
          "mode": "id"
        },
        "options": {}
      },
      "id": "27e77241-4783-4131-9a2a-f1adf6ca8293",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3540,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6cc52d6-3600-4459-a221-5fb38ad157d3",
              "name": "path",
              "value": "={{ $('Workflow Data').item.json.path }}",
              "type": "string"
            },
            {
              "id": "a0403be1-d929-4495-9c1d-f2de6976a40e",
              "name": "video_id",
              "value": "={{ $('Workflow Data').item.json.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "43b2b910-22ae-4211-a38d-4fc273df7c1d",
      "name": "Prepare Images to Download1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3060,
        700
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C03mqiBORnDSq1Qx",
          "mode": "id"
        },
        "options": {}
      },
      "id": "9a26a49c-89f9-43b7-a821-c38d564d012d",
      "name": "Upscale Images to HD",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        4880,
        1240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6cc52d6-3600-4459-a221-5fb38ad157d3",
              "name": "path",
              "value": "={{ $('Workflow Data').item.json.path }}",
              "type": "string"
            },
            {
              "id": "a0403be1-d929-4495-9c1d-f2de6976a40e",
              "name": "video_id",
              "value": "={{ $('Workflow Data').item.json.video_id }}",
              "type": "string"
            },
            {
              "id": "68b1f3ba-a946-43c0-acaa-65eced0e9694",
              "name": "images_data",
              "value": "={{ $json.images_data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "28bb0c42-497a-4567-b383-14377f91d1a6",
      "name": "Prepare Images to Upscale",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4700,
        1240
      ]
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-29T11:14:01.125Z",
      "updatedAt": "2024-06-29T11:14:01.125Z",
      "id": "X4m1RhBLnumYOEJu",
      "name": "ExtractImage"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-19T16:37:05.000Z",
  "versionId": "f1dba7a1-c967-4eda-8650-18b04dc4ddf4"
}