workflows2025/06/cvoLx5kPDEQ05GXa.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Airtable Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Data": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Airtable Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Upload": {
      "main": [
        [
          {
            "node": "Status Update [Done]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-04T20:31:10.610Z",
  "id": "cvoLx5kPDEQ05GXa",
  "isArchived": false,
  "meta": null,
  "name": "Create Image From Scratch - Sub",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a9222897-bdec-4952-9c79-ca12c02b85cf",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        420,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "=gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.Prompt }}"
            },
            {
              "name": "n",
              "value": "={{ $json['Number of Images'] }}"
            },
            {
              "name": "size",
              "value": "={{ $json.Size }}"
            },
            {
              "name": "quality",
              "value": "={{ $json.Quality }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        40
      ],
      "id": "b28494ea-b531-49a0-84d3-01cf4e3db0c2",
      "name": "Create Image"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        980,
        40
      ],
      "id": "783abb0e-11f1-4e71-9071-e15051d11324",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appuHFwU3v15tbWtO",
          "mode": "list",
          "cachedResultName": "n8n + GPT",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO"
        },
        "table": {
          "__rl": true,
          "value": "tblH6V1iJomXIw863",
          "mode": "list",
          "cachedResultName": "Image Parameters",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO/tblH6V1iJomXIw863"
        },
        "filterByFormula": "Status=\"Ready\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        40
      ],
      "id": "50aefd23-2580-40af-86f7-187088225f09",
      "name": "Get Airtable Data"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        500,
        280
      ],
      "id": "b581f004-71e9-41b4-9407-c30ba47b9712",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/appuHFwU3v15tbWtO/{{ $('Get Airtable Data').item.json.id }}/Image%20Created/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contentType\": \"image/png\",\n  \"file\": \"{{ $('Split Out').item.json.b64_json }}\",\n  \"filename\": \"generated_image.png\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        280
      ],
      "id": "320a0b76-101d-4ca0-b12f-e5f6cd9eeaef",
      "name": "Airtable Upload"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appuHFwU3v15tbWtO",
          "mode": "list",
          "cachedResultName": "n8n + GPT",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO"
        },
        "table": {
          "__rl": true,
          "value": "tblH6V1iJomXIw863",
          "mode": "list",
          "cachedResultName": "Image Parameters",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO/tblH6V1iJomXIw863"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Done",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Generate From Scratch",
                  "value": "Generate From Scratch"
                },
                {
                  "name": "Edit / Combine Photos",
                  "value": "Edit / Combine Photos"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt Images",
              "displayName": "Prompt Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number of Images",
              "displayName": "Number of Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Ready",
                  "value": "Ready"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execute",
              "displayName": "Execute",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image Created",
              "displayName": "Image Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        940,
        280
      ],
      "id": "4d4b6b81-df99-435e-8fed-337568155bc0",
      "name": "Status Update [Done]"
    },
    {
      "parameters": {
        "content": "## | Create Image From Scratch\n\n### - Pulls parameters from Airtable\n### - No reference images used\n### - Simple prompt - > image",
        "height": 440,
        "width": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3a6623f-4927-44e6-96f2-1c163055dece",
      "name": "Sticky Note"
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-04T20:31:24.000Z",
  "versionId": "1233d103-8c9b-4e17-8fb0-7db7a22b4eec"
}