workflows2025/06/pyQn9MpYVNmAJ1jy.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Airtable Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Airtable Data": {
      "main": [
        [
          {
            "node": "Image Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Airtable Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Upload1": {
      "main": [
        [
          {
            "node": "Status Update [Done]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-04T20:32:11.507Z",
  "id": "pyQn9MpYVNmAJ1jy",
  "isArchived": false,
  "meta": null,
  "name": "Edit / Combine Images Sub-workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c5b23a28-3e3e-4e7b-bc4e-c83717653492",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        580,
        -300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8259cf39-18b7-4667-8f87-1f62cc4f102c",
              "name": "array",
              "value": "={{ $('Get Airtable Data').item.json[\"Prompt Images\"].map(x => ({ url: x.url })) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        -300
      ],
      "id": "5342d1fa-b883-4166-b8c5-2c7726dcadba",
      "name": "Image Array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "array",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1220,
        -300
      ],
      "id": "a2c318df-c1e9-469a-90cc-fd1756cff4d6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        -300
      ],
      "id": "7ac4b3f3-c864-4a9c-a6bb-b978c87966a8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        -280
      ],
      "id": "270031ef-11a2-4363-8659-e6ef1cbd9ac5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        600,
        160
      ],
      "id": "ff6d0951-985a-444a-b61e-e5d4c1100614",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ Object.keys($binary).length }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f9e4c723-5aa8-49eb-ba14-afcd199efe13"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "One Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2434ef66-e481-4d1f-b51e-0d7710aece06",
                    "leftValue": "={{ Object.keys($binary).length }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Two Images"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        160
      ],
      "id": "cf3f819d-3e19-417b-a0a9-2ae895c41516",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.Prompt }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "=gpt-image-1"
            },
            {
              "name": "n",
              "value": "={{ $('Get Airtable Data').item.json['Number of Images'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        60
      ],
      "id": "52aa9a89-95da-45bf-9af7-f46403ae2f3a",
      "name": "Create Image1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('Get Airtable Data').item.json.Prompt }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "=gpt-image-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "data_1"
            },
            {
              "name": "n",
              "value": "={{ $('Get Airtable Data').item.json['Number of Images'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        260
      ],
      "id": "c3450e68-c742-4890-ab6c-73452c6dad39",
      "name": "Create Image2"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appuHFwU3v15tbWtO",
          "mode": "list",
          "cachedResultName": "n8n + GPT",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO"
        },
        "table": {
          "__rl": true,
          "value": "tblH6V1iJomXIw863",
          "mode": "list",
          "cachedResultName": "Image Parameters",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO/tblH6V1iJomXIw863"
        },
        "filterByFormula": "Status=\"Ready\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        780,
        -300
      ],
      "id": "df4ea191-550d-48c3-9817-8c258d7c6117",
      "name": "Get Airtable Data"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appuHFwU3v15tbWtO",
          "mode": "list",
          "cachedResultName": "n8n + GPT",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO"
        },
        "table": {
          "__rl": true,
          "value": "tblH6V1iJomXIw863",
          "mode": "list",
          "cachedResultName": "Image Parameters",
          "cachedResultUrl": "https://airtable.com/appuHFwU3v15tbWtO/tblH6V1iJomXIw863"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Done",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Generate From Scratch",
                  "value": "Generate From Scratch"
                },
                {
                  "name": "Edit / Combine Photos",
                  "value": "Edit / Combine Photos"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt Images",
              "displayName": "Prompt Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number of Images",
              "displayName": "Number of Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quality",
              "displayName": "Quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Ready",
                  "value": "Ready"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execute",
              "displayName": "Execute",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image Created",
              "displayName": "Image Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1860,
        140
      ],
      "id": "380790e9-373f-4be9-b2a3-6a723bc97e63",
      "name": "Status Update [Done]"
    },
    {
      "parameters": {
        "content": "# | Edit / Combine Images Sub-workflow \n\n## - Feed image(s) to GPT image generator\n## - Can edit individual images, combine images, or use reference images for new creations\n## - Configured to send GPT up to two images at once, can customize for more by editing Switch module and adding another Create Image module",
        "height": 500,
        "width": 740,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -260
      ],
      "id": "a635161c-d9c6-42b2-a38d-ad72383f3a3f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1240,
        140
      ],
      "id": "649cafb4-ab92-497f-ae7e-17a2c25ead8e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1460,
        140
      ],
      "id": "ec168eea-a639-4405-b1a6-a2d9fc6d0205",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/appuHFwU3v15tbWtO/{{ $('Get Airtable Data').item.json.id }}/Image%20Created/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contentType\": \"image/png\",\n  \"file\": \"{{ $('Split Out1').item.json.b64_json }}\",\n  \"filename\": \"generated_image.png\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        140
      ],
      "id": "45f846e7-ca71-4b3e-b647-a5af10c29f68",
      "name": "Airtable Upload1"
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-04T20:32:11.000Z",
  "versionId": "7aa7ef25-6de8-417f-abc5-065467cef4ad"
}