workflows2024/08/5nVPWFXGYKEiSVC2.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        []
      ]
    },
    "Get All Documents from Customer": {
      "main": [
        [
          {
            "node": "Loop Over Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Documents": {
      "main": [
        [],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Open AI Assistant": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Activate Knowledge Retrieval",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Documents from Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T18:03:25.759Z",
  "id": "5nVPWFXGYKEiSVC2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Create a New Assistant",
  "nodes": [
    {
      "parameters": {},
      "id": "795d77fe-b6d6-4487-af27-eb73c70f7a58",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        460,
        560
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "f815f682-1947-42a5-96b7-7edae955f495",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "43051398-0f79-424c-a3d1-4f9a4f425a66",
      "name": "Workflow Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "rag_documents",
          "mode": "list",
          "cachedResultName": "rag_documents"
        },
        "where": {
          "values": [
            {
              "column": "customer_id",
              "value": "={{ $('Workflow Data').item.json[\"customer_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e46dc594-1ad9-4561-9f83-e2bd3b363cda",
      "name": "Get All Documents from Customer",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1220,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "assistant_ai",
          "mode": "list",
          "cachedResultName": "assistant_ai"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "customer_id",
              "value": "={{ $('Workflow Data').item.json.customer_id }}"
            },
            {
              "column": "assistant_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "name",
              "value": "={{ $json.name }}"
            },
            {
              "column": "description",
              "value": "={{ $json.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46a5a37f-a21d-497f-9a9f-fcecc2622d6c",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1240,
        80
      ],
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "update",
        "assistantId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "knowledgeRetrieval": true
        }
      },
      "id": "a582d38d-d540-43ef-b677-5dd34c2efdd3",
      "name": "Activate Knowledge Retrieval",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1220,
        280
      ],
      "credentials": {
        "openAiApi": {
          "id": "zkWuczC3vhG0IipF",
          "name": "OpenAI - Account - Jungle"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.doc_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "a76467fc-35d9-4c1a-8425-615185d3d463",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1720,
        620
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5PK8cpaygM1ygGSt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6319ec09-9492-4b2f-8292-2b32b8c4a0e1",
      "name": "Loop Over Documents",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1460,
        540
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "name": "={{ $json.customer_name }}",
        "description": "Assistant AI for Website",
        "instructions": "=Use the tool document to get any information about the company  {{ $json.customer_name }} to answet the question of the user.",
        "options": {
          "failIfExists": true
        }
      },
      "id": "274e1818-2c71-4471-8489-7fe2a47b1ca9",
      "name": "Create an Open AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        940,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "zkWuczC3vhG0IipF",
          "name": "OpenAI - Account - Jungle"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "purpose": "assistants"
        }
      },
      "id": "6e026955-5e8b-4f6c-bfa5-3f2c4275811b",
      "name": "Upload Document",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1940,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "zkWuczC3vhG0IipF",
          "name": "OpenAI - Account - Jungle"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "update",
        "assistantId": {
          "__rl": true,
          "value": "={{ $('Create an Open AI Assistant').item.json[\"id\"] }}",
          "mode": "id"
        },
        "options": {
          "file_ids": [
            "file-G2utArJPH0UKJiT7zSxhrQqA"
          ]
        }
      },
      "id": "f8a70b23-1bd6-4436-812c-d70c6eecf675",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2160,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "zkWuczC3vhG0IipF",
          "name": "OpenAI - Account - Jungle"
        }
      }
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-26T22:01:28.989Z",
      "updatedAt": "2024-08-26T22:01:28.989Z",
      "id": "kxxK9uQIRkujnphG",
      "name": "Assistant"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-26T22:01:30.000Z",
  "versionId": "669943ac-5815-4446-a0f0-b9bb9f7eea91"
}