workflows2024/08/bI8JdLOOvncGXtOs.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T22:47:24.484Z",
  "id": "bI8JdLOOvncGXtOs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Facebook Search",
  "nodes": [
    {
      "parameters": {},
      "id": "bf68e0f6-1973-4d04-825c-3e115dbc5d19",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1220,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://facebook-data-api2.p.rapidapi.com/graph/pages/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "nannette de gaspe"
            }
          ]
        },
        "options": {}
      },
      "id": "113bf924-1b1f-4518-9c91-c04e3fb870e9",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXubOREOSYfIze3c",
          "name": "RapidAPI - UltimVision"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b429f57-5325-4778-9a42-b566fa040346",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "a4f8de6d-4744-4f84-8d7b-ba1770e37342",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        540
      ]
    },
    {
      "parameters": {
        "url": "=https://facebook-data-api2.p.rapidapi.com/graph/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "68625e22-35c6-4436-8376-0acec3bf60ab",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        620
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXubOREOSYfIze3c",
          "name": "RapidAPI - UltimVision"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "a4a24a21-2105-478e-a203-fdd28da0ec03",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1880,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e95df49e-7239-403c-9efa-4b4c8abb6d62",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2100,
        540
      ]
    },
    {
      "parameters": {},
      "id": "534d5b19-a230-4be2-b68a-745097e688bd",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2800,
        820
      ]
    },
    {
      "parameters": {
        "url": "=https://facebook-data-api2.p.rapidapi.com/graph/{{ $json[\"id\"] }}/feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2dff2bac-08fe-402a-b6b4-6fba233d6638",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXubOREOSYfIze3c",
          "name": "RapidAPI - UltimVision"
        }
      }
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-27T12:51:52.914Z",
      "updatedAt": "2024-08-27T12:51:52.914Z",
      "id": "lAXbtSUXelPGzbPz",
      "name": "Facebook"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-27T12:51:53.000Z",
  "versionId": "e1762f6c-6151-43f4-991a-fcd573474e54"
}