workflows2024/08/rm5Bbf43nQfpIgKA.json
{
  "active": false,
  "connections": {
    "Get Voices": {
      "main": [
        [
          {
            "node": "Split Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Interview Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "4o": {
      "ai_languageModel": [
        [
          {
            "node": "AI Interview Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "4o1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interview Writing Instructions": {
      "main": [
        [
          {
            "node": "AI Interview Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Interview Writing Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Interviews": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generate audio Interviewer Question",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate audio Owner Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio Interviewer Question": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio Owner Answer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Generate audio Interviewer Intro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Interviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate audio Interviewer Intro1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate audio Owner Answer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio Voice Scenario": {
      "main": [
        [
          {
            "node": "Insert interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Interview Agent": {
      "main": [
        [
          {
            "node": "Prepare Audio Voice Scenario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-27T15:15:56.301Z",
  "id": "rm5Bbf43nQfpIgKA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Create Audio Podcast From Product",
  "nodes": [
    {
      "parameters": {},
      "id": "20d2f241-a454-41a9-9933-fae0d7c29197",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        540,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "voices",
        "options": {}
      },
      "id": "9a8248e3-fb19-4e91-adf5-65a462212c4a",
      "name": "Split Voices",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1400,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/voices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_0b98e65244e71377e52c6652fdead3cf0873e4e5990d79cb"
            }
          ]
        },
        "options": {}
      },
      "id": "bec4b2b6-bc62-4f0e-beef-c8230bd65628",
      "name": "Get Voices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"interview\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": {\n          \"type\": \"string\",\n          \"description\": \"The title of the interview.\"\n        },\n        \"participants\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"owner\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"name\": {\n                  \"type\": \"string\",\n                  \"description\": \"The name of the product owner.\"\n                },\n                \"role\": {\n                  \"type\": \"string\",\n                  \"description\": \"The role of the product owner, typically 'Product Owner'.\"\n                }\n              },\n              \"required\": [\"name\", \"role\"]\n            },\n            \"interviewer\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"name\": {\n                  \"type\": \"string\",\n                  \"description\": \"The name of the interviewer.\"\n                },\n                \"role\": {\n                  \"type\": \"string\",\n                  \"description\": \"The role of the interviewer, typically 'Interviewer'.\"\n                }\n              },\n              \"required\": [\"name\", \"role\"]\n            }\n          },\n          \"required\": [\"owner\", \"interviewer\"]\n        },\n        \"introduction\": {\n          \"type\": \"string\",\n          \"description\": \"The introduction text where the interviewer welcomes the product owner and introduces the product.\"\n        },\n        \"questions_and_answers\": {\n          \"type\": \"array\",\n          \"description\": \"An array of objects representing the questions asked by the interviewer and the corresponding answers from the product owner.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"question\": {\n                \"type\": \"string\",\n                \"description\": \"The question asked by the interviewer.\"\n              },\n              \"answer\": {\n                \"type\": \"string\",\n                \"description\": \"The answer given by the product owner.\"\n              }\n            },\n            \"required\": [\"question\", \"answer\"]\n          }\n        },\n        \"conclusion\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"interviewer_summary\": {\n              \"type\": \"string\",\n              \"description\": \"The summary of the interview provided by the interviewer.\"\n            },\n            \"owner_final_thoughts\": {\n              \"type\": \"string\",\n              \"description\": \"The final thoughts or call to action given by the product owner.\"\n            }\n          },\n          \"required\": [\"interviewer_summary\", \"owner_final_thoughts\"]\n        }\n      },\n      \"required\": [\"title\", \"participants\", \"introduction\", \"questions_and_answers\", \"conclusion\"]\n    }\n  },\n  \"required\": [\"interview\"]\n}"
      },
      "id": "99f3705e-54cf-4b62-9b06-eb454b779446",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1560,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "5e81a149-4746-480d-ac22-f15b90f11e90",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1380,
        980
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "id": "5d2c7f08-e2ab-461f-8e31-6118ead069a1",
      "name": "4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1220,
        1000
      ],
      "credentials": {
        "openAiApi": {
          "id": "zkWuczC3vhG0IipF",
          "name": "OpenAI - Account - Jungle"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "5a5fcdca-c515-4956-84df-f690732fa6e1",
      "name": "4o1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1360,
        1160
      ],
      "credentials": {
        "openAiApi": {
          "id": "zkWuczC3vhG0IipF",
          "name": "OpenAI - Account - Jungle"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "url_content",
          "mode": "list",
          "cachedResultName": "url_content"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "21"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "content",
            "title"
          ]
        }
      },
      "id": "7a8da311-1aa7-4ff4-90bb-548c339f3d1b",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        760,
        800
      ],
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d6ae528-97e5-4c98-8a8a-1f2195997fea",
              "name": "instructions",
              "value": "=Analyze the provided product content in detail, focusing on its key features, benefits, usage instructions, and overall mission. Then, generate an interview script between two women: the owner of the product (Person A) and an interviewer (Person B). The interview should be comprehensive, captivating, and educational, thoroughly covering all key aspects of the product, including its features, benefits, usage instructions, and the overarching mission, while ensuring the information is conveyed clearly and effectively.\n\nPrompt Instructions:\n\n1. Content Analysis:\n- Begin by thoroughly analyzing the product content, identifying the key features, benefits, and any unique selling points.\n- Extract the product's usage instructions, ensuring clarity and completeness.\n- Understand the overall mission or philosophy behind the product and how it aligns with the target audience's needs and desires.\n\n2. The product owner name is Sophia (Person A) working at Nannette De Gaspé Company.\n\n3. The interviewer name is Sarah (Person B).\n\n4. Interview Script Generation:\n-Introduction: Write a brief introduction where the interviewer (Person B) welcomes the product owner (Person A) and sets the stage for the discussion.\n- Discussion on Product Features and Benefits: Generate dialogue where Person B asks Person A about the product’s key features and benefits. Person A should respond with detailed explanations, emphasizing what makes the product unique and valuable.\n- Ingredients and Innovation: Add a dedicated section where Person B asks about the ingredients and innovations in the product. Person A should detail how these components contribute to the user’s well-being, emphasizing the positive impact on their life.\n- How to Use the Product: Create a segment where Person B asks about the correct usage of the product. Person A should provide step-by-step instructions, tips, and any special considerations to ensure optimal use.\n- Mission and Philosophy: Include a part of the interview where Person B inquires about the mission or philosophy behind the product. Person A should explain the inspiration, goals, and how the product aligns with empowering or benefiting the target audience.\n- Conclusion: End with a closing statement where Person B summarizes the discussion and Person A gives final thoughts, possibly including where the product can be purchased or how to get more information.\n\n5. Interview Tone:\n- The tone should be conversational, friendly, and engaging, with Person B showing genuine interest and curiosity, and Person A providing insightful and enthusiastic responses.\n\n6. Final Output:\n- The interview should be coherent and natural-sounding, offering both educational and promotional value to the listener or reader.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9e35b77a-c149-43d9-b7fe-a0245a396ea6",
      "name": "Interview Writing Instructions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        800
      ]
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/models",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_0b98e65244e71377e52c6652fdead3cf0873e4e5990d79cb"
            }
          ]
        },
        "options": {}
      },
      "id": "724b6ff9-e7ff-451d-aebd-cbc8e0e57843",
      "name": "Get Voices1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/9jGUFFCYulSI01gxVnvK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_0b98e65244e71377e52c6652fdead3cf0873e4e5990d79cb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json[\"introduction\"]) }},\n  \"voice_settings\": {\n    \"similarity_boost\": 0.5,\n    \"stability\": 0.50,\n    \"use_speaker_boost\": true,\n    \"style\": 0.1\n  },\n  \"model_id\": \"eleven_multilingual_v2\"\n}\n",
        "options": {}
      },
      "id": "7df84c00-40eb-40ea-b96f-913f02de2576",
      "name": "Generate audio Interviewer Intro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        600
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.interview.questions_and_answers",
        "options": {}
      },
      "id": "f3e65f1d-d1a5-4570-8505-a54bf3e77655",
      "name": "Split Interviews",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2380,
        920
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f15291dc-2403-4d85-bbff-0b1a1056d507",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2600,
        920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/9jGUFFCYulSI01gxVnvK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_0b98e65244e71377e52c6652fdead3cf0873e4e5990d79cb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json[\"question\"]) }},\n  \"voice_settings\": {\n    \"similarity_boost\": 0.5,\n    \"stability\": 0.50,\n    \"use_speaker_boost\": true,\n    \"style\": 0.10\n  },\n  \"model_id\": \"eleven_multilingual_v2\"\n}\n",
        "options": {}
      },
      "id": "1d410930-f286-46ba-891b-2a9638e5e249",
      "name": "Generate audio Interviewer Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2980,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/xctasy8XvGp2cVO9HL9k",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_0b98e65244e71377e52c6652fdead3cf0873e4e5990d79cb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json[\"answer\"]) }},\n  \"voice_settings\": {\n    \"similarity_boost\": 0.5,\n    \"stability\": 0.50,\n    \"use_speaker_boost\": true,\n    \"style\": 0.10\n  },\n  \"model_id\": \"eleven_multilingual_v2\"\n}\n",
        "options": {}
      },
      "id": "726a1ec6-054d-4d93-b51e-e3e02bd4de5b",
      "name": "Generate audio Owner Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2980,
        1080
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "717651c7-edfd-47f5-9542-e91465867cb4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3260,
        960
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b336b55e-16c3-4189-a165-c20774c36c9f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3500,
        1160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/xctasy8XvGp2cVO9HL9k",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_0b98e65244e71377e52c6652fdead3cf0873e4e5990d79cb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json[\"output\"][\"interview\"][\"conclusion\"][\"owner_final_thoughts\"]) }},\n  \"voice_settings\": {\n    \"similarity_boost\": 0.5,\n    \"stability\": 0.50,\n    \"use_speaker_boost\": true,\n    \"style\": 0.10\n  },\n  \"model_id\": \"eleven_multilingual_v2\"\n}\n",
        "options": {}
      },
      "id": "da59daa3-2f20-4f24-b815-3a135505bd0b",
      "name": "Generate audio Owner Answer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/9jGUFFCYulSI01gxVnvK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_0b98e65244e71377e52c6652fdead3cf0873e4e5990d79cb"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json[\"output\"][\"interview\"][\"conclusion\"][\"interviewer_summary\"]) }},\n  \"voice_settings\": {\n    \"similarity_boost\": 0.5,\n    \"stability\": 0.50,\n    \"use_speaker_boost\": true,\n    \"style\": 0.1\n  },\n  \"model_id\": \"eleven_multilingual_v2\"\n}",
        "options": {}
      },
      "id": "39d22923-b19b-462e-a78b-f15be679b383",
      "name": "Generate audio Interviewer Intro1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1440
      ]
    },
    {
      "parameters": {},
      "id": "e534f2e7-7874-477d-ae69-e7ef049234f5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1900,
        800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1fe13bb-6262-46c6-b9fe-85372198a9ce",
              "name": "introduction",
              "value": "={{ $json.output.interview.introduction }}",
              "type": "string"
            },
            {
              "id": "c700bf41-87b7-4281-9691-5e2b5f1ae208",
              "name": "output.interview.questions_and_answers",
              "value": "={{ $json.output.interview.questions_and_answers }}",
              "type": "array"
            },
            {
              "id": "f36115be-ceaa-4303-ae82-858a829abda2",
              "name": "output.interview.conclusion",
              "value": "={{ $json.output.interview.conclusion }}",
              "type": "object"
            },
            {
              "id": "30452533-a199-4d3f-af9a-7871b676bec0",
              "name": "title",
              "value": "={{ $json.output.interview.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34fd0ad0-e4fe-43f7-98b9-93689a2dfcf6",
      "name": "Prepare Audio Voice Scenario",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        800
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "audio_product_interview",
          "mode": "list",
          "cachedResultName": "audio_product_interview"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "customer_id",
              "value": "nannette-de-gaspe"
            },
            {
              "column": "product_name",
              "value": "={{ $('MySQL').item.json[\"title\"] }}"
            },
            {
              "column": "title",
              "value": "={{ $json.title }}"
            },
            {
              "column": "introduction",
              "value": "={{ $json.introduction }}"
            },
            {
              "column": "questions_answers",
              "value": "={{ JSON.stringify($json.output.interview.questions_and_answers) }}"
            },
            {
              "column": "conclusion",
              "value": "={{ JSON.stringify($json.output.interview.conclusion) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7c948f2-5968-436f-af98-3e1341e85bad",
      "name": "Insert interview",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1880,
        520
      ],
      "credentials": {
        "mySql": {
          "id": "WUcEYlRNRXS6P3Ni",
          "name": "MySQL Boost RAG"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here's the content to analyse for creating the Interview dialog :\n{{ $json.title }}\n\n{{ JSON.stringify($json[\"content\"]) }} ",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ JSON.stringify($json.instructions) }}"
            }
          ]
        }
      },
      "id": "e98a6e49-5ffc-40b8-8513-e08b10b5be72",
      "name": "AI Interview Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1240,
        800
      ]
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-26T23:46:00.687Z",
      "updatedAt": "2024-08-26T23:46:00.687Z",
      "id": "0KXvsYRAyI7MffNz",
      "name": "Music"
    },
    {
      "createdAt": "2024-08-27T15:16:11.209Z",
      "updatedAt": "2024-08-27T15:16:11.209Z",
      "id": "wXsQwiOB3JNWY2qn",
      "name": "Voice Studio"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-07T10:32:42.000Z",
  "versionId": "32f827c7-ea60-4e9d-80f3-6518acd14956"
}