workflows2024/08/Uq3rN6cr35YblZmR.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "If sitemap array exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "XML Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Get Sitemap Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sitemap array exists": {
      "main": [
        [
          {
            "node": "Return Sitemap Urls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Url Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Url Exists": {
      "main": [
        [
          {
            "node": "Return Urls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sitemap Urls": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error 404",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-21T09:40:42.757Z",
  "id": "Uq3rN6cr35YblZmR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get Sitemap Urls - Sub",
  "nodes": [
    {
      "parameters": {},
      "id": "9ff28326-e466-43ac-a8b3-7f16116f53a4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        60,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25d41429-2fa9-42e5-b114-9206195ad94a",
              "name": "status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "93af745c-8c52-421a-baaa-d567789e4aac",
      "name": "Error 404",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b0b55c41-43dd-40e4-8044-117e659be5ed",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        760,
        140
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8fd97d5b-2c24-4f1b-b237-0711b9cccb3e",
      "name": "XML Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b10d919-a5ac-461c-b32b-78bdfea54e04",
              "name": "sitemap_url",
              "value": "={{ $json.sitemap_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99be623d-09fd-4b50-98ca-2bbe3595144f",
      "name": "Workflow Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a5654e0d-9c3f-450d-b183-ef3ed4953bd2",
              "leftValue": "={{ $json.sitemapindex.sitemap }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15116918-0e2a-4048-ad3d-6c287ed066e2",
      "name": "If sitemap array exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        -20
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b803c6c2-c0fa-4f32-b2cf-8b8d4b78d214",
      "name": "Return No Urls",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cc632c85-2650-40dc-8900-af3d9bfa4ec1",
              "leftValue": "={{ $json.urlset.url }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2fed6e53-ea8d-4703-be5c-d0ff0415390e",
      "name": "If Url Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f948407-584d-4c4f-bfcf-f1d392e3ac13",
              "name": "sitemap_urls",
              "value": "={{ $json.sitemapindex.sitemap }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "616e1150-d8a5-4f7a-89a4-c3d27405624c",
      "name": "Return Sitemap Urls",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f948407-584d-4c4f-bfcf-f1d392e3ac13",
              "name": "urls",
              "value": "={{ $json.urlset.url }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "6deec179-2a5a-4cbd-beb1-7bbdce6fbad1",
      "name": "Return Urls",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        -20
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.sitemap_url }}",
        "options": {}
      },
      "id": "b61869cb-ad7a-4986-8418-677b3b061125",
      "name": "Get Sitemap Urls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        320
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-21T09:40:50.188Z",
      "updatedAt": "2024-08-21T09:40:50.188Z",
      "id": "Wsb2eZzrbohCRrM1",
      "name": "Sitemap"
    },
    {
      "createdAt": "2024-08-26T22:01:28.989Z",
      "updatedAt": "2024-08-26T22:01:28.989Z",
      "id": "kxxK9uQIRkujnphG",
      "name": "Assistant"
    },
    {
      "createdAt": "2024-08-21T22:13:12.952Z",
      "updatedAt": "2024-08-21T22:13:12.952Z",
      "id": "mJoeScWZH1pi52Xo",
      "name": "AI Agent"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-28T10:21:49.000Z",
  "versionId": "eccd1414-d39a-409e-9cdc-240c80696266"
}