workflows2025/05/48whRs4BZobwCRjE.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Mailchimp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-01T01:09:51.165Z",
  "id": "48whRs4BZobwCRjE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Clean FirstName Mailchimp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ],
      "id": "edf18ee8-40ba-487a-bc32-56f6cfa80f83",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "list": "ba44ab9f0e",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ],
      "id": "8b0d6f2c-a711-43f7-bff1-7b70a5cde060",
      "name": "Mailchimp",
      "credentials": {
        "mailchimpApi": {
          "id": "ev6I0u4hIWUgE3u1",
          "name": "Mailchimp Boost Performance"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        340,
        0
      ],
      "id": "28d4d02c-c444-4f11-b104-b2e55c7c3589",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Fonction pour capitaliser chaque segment, y compris après un trait d’union\nconst capitalizeName = (name) => {\n  return name\n    .split('-')\n    .map(part => {\n      part = part.trim();\n      return part\n        ? part.charAt(0).toUpperCase() + part.slice(1).toLowerCase()\n        : '';\n    })\n    .join('-');\n};\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  // Récupération des merge_fields existants\n  const mergeFields = item.json.merge_fields || {};\n  let FNAME = mergeFields.FNAME || '';\n  let LNAME = mergeFields.LNAME || '';\n\n  // Si FNAME est vide et LNAME non vide\n  if (!FNAME.trim() && LNAME.trim()) {\n    const parts = LNAME.trim().split(' ');\n    if (parts.length >= 2) {\n      // Le premier mot devient FNAME, le reste devient LNAME\n      FNAME = parts[0];\n      LNAME = parts.slice(1).join(' ');\n    }\n  }\n\n  // Appliquer la capitalisation et nettoyer les espaces\n  FNAME = capitalizeName(FNAME.trim());\n  LNAME = capitalizeName(LNAME.trim());\n\n  // Récupération de l'email\n  const email = item.json.email_address || '';\n\n  // On ne retourne que FNAME, LNAME et email_address\n  output.push({\n    json: {\n      FNAME,\n      LNAME,\n      email_address: email,\n    },\n  });\n}\n\n// Retourner le nouveau tableau d’items\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        100
      ],
      "id": "f146c1f6-d964-4ec1-b37d-d68cab5a767f",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "list": "ba44ab9f0e",
        "email": "={{ $json.email_address }}",
        "updateFields": {
          "mergeFieldsUi": {
            "mergeFieldsValues": [
              {
                "name": "FNAME",
                "value": "={{ $json.FNAME }}"
              },
              {
                "name": "LNAME",
                "value": "={{ $json.LNAME }}"
              },
              {
                "name": "ADDRESS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        620,
        400
      ],
      "id": "e2e6a708-0efd-408a-aa37-d3a2c7abb211",
      "name": "Mailchimp1",
      "credentials": {
        "mailchimpApi": {
          "id": "ev6I0u4hIWUgE3u1",
          "name": "Mailchimp Boost Performance"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        100
      ],
      "id": "b8f75752-0665-498f-8242-e36b87520ad2",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        300,
        400
      ],
      "id": "5d87a9ae-efe0-47e5-914e-8b1a00989776",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        400
      ],
      "id": "5e9bf425-d834-460a-85d2-235ae202e490",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1020,
        100
      ],
      "id": "b158ed7a-b9a2-4073-81aa-6392e145eeaf",
      "name": "Wait",
      "webhookId": "fec08822-5f44-4b22-90e9-fd30b156a5ce"
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-21T18:21:53.875Z",
      "updatedAt": "2024-11-21T18:21:53.875Z",
      "id": "mIoSmAytRJWHrSkp",
      "name": "Dev:Pat"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-01T01:55:02.000Z",
  "versionId": "a11a6b88-af9d-4214-8337-a45cd65ca5fc"
}