workflows2024/10/sZewxEL1z6y7BAps.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Prepare data for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data for DB": {
      "main": [
        [
          {
            "node": "Save in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save in DB": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get updated item from DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-24T19:12:33.687Z",
  "id": "sZewxEL1z6y7BAps",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "File Transfer Callback",
  "nodes": [
    {
      "parameters": {},
      "id": "0aa595a9-5ed5-4487-aad9-8d7dced94cc8",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db6d682a-8e94-4bc3-a7e2-036439b3c34f",
              "name": "source_url",
              "value": "https://boostperformance.ai/wp-content/uploads/2024/06/page_79-1583x2048-1-792x1024.jpg",
              "type": "string"
            },
            {
              "id": "f61c0bbb-c0a5-4f2f-be87-456c9926c7c7",
              "name": "destination_path",
              "value": "test/test.jpg",
              "type": "string"
            },
            {
              "id": "c422d102-567c-4be6-9983-96ff85963194",
              "name": "callback_url",
              "value": "={{ $execution.resumeUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3ff9fbc8-4589-4419-8fe9-fdca4c9c1e35",
      "name": "Prepare data for DB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        760
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "file_transfer_tasks",
          "mode": "list",
          "cachedResultName": "file_transfer_tasks"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination_path",
              "displayName": "destination_path",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_url",
              "displayName": "callback_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "fc094532-bb8f-4735-a36f-d158a1c8e1ff",
      "name": "Save in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1080,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "pHTFnAMLpsVnMU56",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "options": {}
      },
      "id": "133053b4-2eb5-4b48-95a0-7da6a3e7fd6a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1300,
        760
      ],
      "webhookId": "14e4791e-2507-4eaa-a99d-d85fa8d54830"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "file_transfer_tasks",
          "mode": "list",
          "cachedResultName": "file_transfer_tasks"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.task_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b658649d-f96c-4f35-9ba7-70f913f90851",
      "name": "Get updated item from DM",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "pHTFnAMLpsVnMU56",
          "name": "Postgres Supabase"
        }
      }
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-16T13:39:21.071Z",
      "updatedAt": "2024-10-16T13:39:21.071Z",
      "id": "E8nPTYjZtWlaLr4T",
      "name": "Webhook"
    },
    {
      "createdAt": "2024-08-06T21:15:08.860Z",
      "updatedAt": "2024-08-06T21:15:08.860Z",
      "id": "fCd4LZ9ipYWyIPrk",
      "name": "TEST"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-28T18:19:39.000Z",
  "versionId": "b63de452-1433-4a58-8afa-04aaf2a26865"
}