workflows2024/11/9neGgZgtXb3Bg8Dv.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Prepare data for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data for DB": {
      "main": [
        [
          {
            "node": "Save in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-18T20:35:54.358Z",
  "id": "9neGgZgtXb3Bg8Dv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Catch Log Notify Assistant Email",
  "nodes": [
    {
      "parameters": {},
      "id": "54df753e-d671-4f6f-a29e-df0e0aed2af5",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        620,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfee5e1e-5698-4493-a9a2-0b8e1aa0fa26",
              "name": "workflow_id",
              "value": "={{ $json.workflow.id }}",
              "type": "string"
            },
            {
              "id": "fbbcb83c-5dad-4b1d-bf5d-ab67b9f6802e",
              "name": "workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "ffc1fdf4-0e47-4b1b-b1b9-b979eec9776e",
              "name": "execution",
              "value": "={{ $json.execution }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "c3464763-5895-4274-9ecd-87c5a47a95e8",
      "name": "Prepare data for DB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        700
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_error_logs",
          "mode": "list",
          "cachedResultName": "n8n_error_logs"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution",
              "displayName": "execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "1aaeb33d-863c-4e1d-9ae5-067e3b954ff6",
      "name": "Save in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "pHTFnAMLpsVnMU56",
          "name": "Postgres Supabase"
        }
      }
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-24T14:06:37.915Z",
      "updatedAt": "2024-10-24T14:06:37.915Z",
      "id": "PkOO3YCWw4iwDdyq",
      "name": "Error"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-04-10T20:17:28.000Z",
  "versionId": "bfcc7fd6-9db9-4285-ab65-df8b9c9f2e09"
}