workflows2025/01/7fgbDHrB3oSx7XcQ.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Prompts à traduire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts à traduire": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Traduction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "LLM Traduction",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "LLM Traduction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Traduction": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-31T13:23:49.588Z",
  "id": "7fgbDHrB3oSx7XcQ",
  "isArchived": false,
  "meta": null,
  "name": "Translate English Prompts - 1000 Hubspots",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        -500
      ],
      "id": "e2565973-6f9d-4e1a-a0d4-1d2519f136fa",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphtTD0nLZShHLS5",
          "mode": "list",
          "cachedResultName": "Outils Hub Boost",
          "cachedResultUrl": "https://airtable.com/apphtTD0nLZShHLS5"
        },
        "table": {
          "__rl": true,
          "value": "tblddhQL1aaWecXoS",
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://airtable.com/apphtTD0nLZShHLS5/tblddhQL1aaWecXoS"
        },
        "filterByFormula": "({Statut} = 'À faire')",
        "options": {}
      },
      "id": "675a79ca-39b3-4cf9-b351-ce93313c5381",
      "name": "Prompts à traduire",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -420,
        -500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"$schema\": \"http://json-schema.org/draft-07/schema#\",\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"Titre\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"English Prompt\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"French Translation\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"Explanation (French)\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"Context\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"Example 1 (Filled)\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"Example 2 (Filled)\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"required\": [\n\t\t\"Titre\",\n\t\t\"English Prompt\",\n\t\t\"French Translation\",\n\t\t\"Explanation (French)\",\n\t\t\"Context\",\n\t\t\"Example 1 (Filled)\",\n\t\t\"Example 2 (Filled)\"\n\t]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        80,
        280
      ],
      "id": "6c471dfc-15fb-42db-93ab-16ad74bb75d1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -480,
        180
      ],
      "id": "7e726a9f-3f83-4b7d-ab2a-4cf6b01a053d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "P0G2YpkVZIDDw99j",
          "name": "OpenAi Boost TAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici un prompt à traduire et analyser :\n\n{{ $json['Prompt Anglais'] }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Tu vas recevoir un prompt en anglais qu'on utilise avec un LLM.\n\nTa tâche est le traduire en français et de l'analyser.\n\nVoici les éléments à retourner :\n\nTitre : Un titre court en français qui résume le prompt (une ou deux phrases maximum).\n\nEnglish Prompt : Le prompt original en anglais.\nFrench Translation : La traduction du prompt en français.\n\nExplanation (French) : Une explication en français de l'objectif et de l'utilisation du prompt.\nContext : Le contexte spécifique dans lequel le prompt doit être utilisé.\n\nExample 1 (Filled) : Un exemple rempli du prompt avec des valeurs concrètes.\n\nExample 2 (Filled) : Un autre exemple rempli du prompt avec des valeurs concrètes.\n\n\nProcédure détaillée : \na. Traduction du prompt : Pour chaque prompt en anglais, fournissez une traduction exacte en français, en veillant à garder les variables entre chevrons (< >) intactes.\n\nb. Explication en français : Expliquez en français l'objectif du prompt, c'est-à-dire ce qu'il est censé accomplir et pourquoi il est pertinent pour le marketing. Par exemple, pour un prompt concernant le marketing de parrainage, l'explication pourrait expliquer comment il permet d'élargir le réseau de clients à travers des recommandations.\n\nc. Contexte d'utilisation : Définissez dans quel contexte ce prompt doit être utilisé. Cela peut inclure des informations comme :\n\nSi le prompt est destiné à être utilisé pour un lancement de produit, une campagne de génération de leads, ou une fidélisation client.\nQuand il est préférable d'utiliser ce prompt par rapport à d'autres dans des stratégies marketing spécifiques.\n\nd. Titre en français : Créez un titre court pour chaque prompt en français qui résume son objectif ou son action principale. Le titre doit être concis mais suffisamment explicite pour saisir rapidement l'idée du prompt.\n\nExemple de titre :\n\nPour le prompt \"Create a referral marketing program for <business>...\", un titre pourrait être : \"Programme de parrainage pour l'extension du réseau client.\"\ne. Exemples pratiques : Créez deux exemples remplis pour chaque prompt, en utilisant des entreprises, des personas, des propositions de valeur uniques et des défis spécifiques pour rendre les exemples aussi réalistes que possible. \n\nLes exemples doivent montrer comment appliquer concrètement le prompt à un cas réel de marketing."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -400,
        -120
      ],
      "id": "1371e8cb-74e8-43b7-b106-f6b5713b3ac0",
      "name": "LLM Traduction",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -200,
        -500
      ],
      "id": "9dfcd5d5-9d98-4cbe-a800-9a023477f77a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        -120
      ],
      "id": "6de2915e-67d6-4ab0-89b6-6cd111419a34",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -100,
        60
      ],
      "id": "82cc897a-c640-4899-b3e0-b771b70880d8",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -100,
        280
      ],
      "id": "a2082e36-ab1e-41c9-b0b0-acdb43db74ac",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "P0G2YpkVZIDDw99j",
          "name": "OpenAi Boost TAI"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7fgbDHrB3oSx7XcQ",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        20,
        -400
      ],
      "id": "cf42ae5d-aa6d-40a8-8096-d10bb1c7cb8c",
      "name": "Execute Workflow",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apphtTD0nLZShHLS5",
          "mode": "list",
          "cachedResultName": "Outils Hub Boost",
          "cachedResultUrl": "https://airtable.com/apphtTD0nLZShHLS5"
        },
        "table": {
          "__rl": true,
          "value": "tblddhQL1aaWecXoS",
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://airtable.com/apphtTD0nLZShHLS5/tblddhQL1aaWecXoS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Execute Workflow Trigger').item.json.id }}",
            "Nom": "={{ $json.output.Titre }}",
            "Prompt Français": "={{ $json.output['French Translation'] }}",
            "Statut": "En évaluation",
            "Explication": "={{ $json.output['Explanation (French)'] }}",
            "Contexte": "={{ $json.output.Context }}",
            "Exemple 1": "={{ $json.output['Example 1 (Filled)'] }}",
            "Exemple 2": "={{ $json.output['Example 2 (Filled)'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prompt Anglais",
              "displayName": "Prompt Anglais",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prompt Français",
              "displayName": "Prompt Français",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Catégorie Français",
              "displayName": "Catégorie Français",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Stratégie Marketing",
                  "value": "Stratégie Marketing"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Catégorie Anglaise",
              "displayName": "Catégorie Anglaise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Marketing Strategy",
                  "value": "Marketing Strategy"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "À faire",
                  "value": "À faire"
                },
                {
                  "name": "En évaluation",
                  "value": "En évaluation"
                },
                {
                  "name": "Valide",
                  "value": "Valide"
                },
                {
                  "name": "Non-Valide",
                  "value": "Non-Valide"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Explication",
              "displayName": "Explication",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contexte",
              "displayName": "Contexte",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Exemple 1",
              "displayName": "Exemple 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Exemple 2",
              "displayName": "Exemple 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        -120
      ],
      "id": "8568182f-3f08-4a0c-8d12-c2d679452efe",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        260,
        -400
      ],
      "id": "795d8b0b-3327-4215-92d4-a1d6100cddb1",
      "name": "Wait",
      "webhookId": "6aa8e2ba-6ed1-4d56-9c96-c672aa1d36d3"
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-31T20:12:44.000Z",
  "versionId": "c0125ffc-6469-48d6-92fb-35c7b3333c73"
}