workflows2025/01/iyidpUiIhnniLLod.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order": {
      "main": [
        [
          {
            "node": "Is Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Customer": {
      "main": [
        [
          {
            "node": "Informations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informations": {
      "main": [
        [
          {
            "node": "Switch Catalog Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Customer Exists": {
      "main": [
        [
          {
            "node": "Retrieve Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Log Customer Not Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "If Payment Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Payment Created": {
      "main": [
        [
          {
            "node": "Get Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Payment Created Webhook Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Catalog Product": {
      "main": [
        [
          {
            "node": "Upsert Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Customer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer": {
      "main": [
        [
          {
            "node": "Insert Log Transaction Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Log Transaction Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer1": {
      "main": [
        [
          {
            "node": "Insert Log Transaction Added1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Commandite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Log Transaction Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Commandite": {
      "main": [
        [
          {
            "node": "Insert Log Transaction Added2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-22T22:40:41.151Z",
  "id": "iyidpUiIhnniLLod",
  "isArchived": false,
  "meta": null,
  "name": "Groupe Performance - Webhook - Payment Created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gp-new-update-customers",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -40
      ],
      "id": "e15e1b97-38c5-4ff7-ad94-b39978d77ce4",
      "name": "Webhook",
      "webhookId": "f125435b-b040-4a08-88dd-d1dc0fb33564"
    },
    {
      "parameters": {
        "url": "=https://connect.squareup.com/v2/orders/{{ $json.body.data.object.payment.order_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Square-Version",
              "value": "2024-12-18"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAAllvrrVZvkcKEDLaRMby8gCOQqmA_n5a_O4acAxC3uOisYHpe5T6f_YttQqbl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        -220
      ],
      "id": "06ad4db2-4217-4f12-bc1c-3c664fb11f24",
      "name": "Get Order"
    },
    {
      "parameters": {
        "url": "=https://connect.squareup.com/v2/customers/{{ $json.order.customer_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Square-Version",
              "value": "2024-12-18"
            },
            {
              "name": "Authorization",
              "value": "Bearer EAAAllvrrVZvkcKEDLaRMby8gCOQqmA_n5a_O4acAxC3uOisYHpe5T6f_YttQqbl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -400
      ],
      "id": "50a5997d-9498-469c-95b3-c02e33f6a6ef",
      "name": "Retrieve Customer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eae51f54-aea7-4c51-9acd-3cb1d53cf674",
              "name": "customer",
              "value": "={{ $json.customer }}",
              "type": "object"
            },
            {
              "id": "e29963f2-bd90-49ca-874e-98a3b12c347d",
              "name": "created_at",
              "value": "={{ $('Get Order').item.json.order.created_at }}",
              "type": "string"
            },
            {
              "id": "5ad47251-1d81-48e0-b0ce-0dcd21c6d66d",
              "name": "catalog_object_id",
              "value": "={{ $('Get Order').item.json.order.line_items[0].catalog_object_id }}",
              "type": "string"
            },
            {
              "id": "b1d72659-a9d6-43d7-b637-4f433fb02256",
              "name": "name",
              "value": "={{ $('Get Order').item.json.order.line_items[0].name }}",
              "type": "string"
            },
            {
              "id": "2d5d6e55-9790-42b3-9419-85ba7275ce94",
              "name": "gross_sales_money_amount",
              "value": "={{ $('Get Order').item.json.order.line_items[0].gross_sales_money.amount }}",
              "type": "number"
            },
            {
              "id": "a3ddcb4f-0f0f-4d67-bf21-01d8b9422598",
              "name": "total_discount_money_amount",
              "value": "={{ $('Get Order').item.json.order.line_items[0].total_discount_money.amount }}",
              "type": "number"
            },
            {
              "id": "4b263d0d-457f-4584-8910-74b00c4838df",
              "name": "amount_due_money_amount",
              "value": "={{ $('Get Order').item.json.order.net_amount_due_money.amount }}",
              "type": "number"
            },
            {
              "id": "2ae4c9c4-e0a2-4f5d-a701-e8e325248fb9",
              "name": "notes",
              "value": "={{ $('Get Order').item.json.order.tenders[0].note }}",
              "type": "string"
            },
            {
              "id": "3f096127-7181-4d2d-84db-07390e01b758",
              "name": "receipt_number",
              "value": "={{ $('Data').item.json.body.data.object.payment.receipt_number }}",
              "type": "string"
            },
            {
              "id": "c7b2512f-5d6e-4c8d-a4c6-05caf01dc779",
              "name": "tps",
              "value": "={{ $('Get Order').item.json.order.line_items[0].applied_taxes[0].applied_money.amount /100}}",
              "type": "number"
            },
            {
              "id": "f0594b63-85b5-44d3-8716-db22cff77269",
              "name": "tvq",
              "value": "={{ $('Get Order').item.json.order.line_items[0].applied_taxes[1].applied_money.amount /100}}",
              "type": "string"
            },
            {
              "id": "c405c4d3-a654-4a1a-972e-cd750b4092c2",
              "name": "note_article",
              "value": "={{ $('Get Order').item.json.order.line_items[0].note }}",
              "type": "string"
            },
            {
              "id": "6cdf1f98-da83-4627-8881-4c32647c9acb",
              "name": "net_amount_due_money",
              "value": "={{ $('Get Order').item.json.order.net_amount_due_money.amount / 100 }}",
              "type": "number"
            },
            {
              "id": "2ae43083-2eff-4e0e-a88f-f79d09b6abff",
              "name": "payment_status",
              "value": "={{ $('Data').item.json.body.data.object.payment.status }}",
              "type": "string"
            },
            {
              "id": "e9124de1-fdb8-4493-b566-d571220125e4",
              "name": "card_errors_details",
              "value": "={{\n  $('Data').item.json.body.data.object.payment.card_details.errors[0].code\n    ? `Code d'erreur : ${$('Data').item.json.body.data.object.payment.card_details.errors[0].code}`\n    : ''\n}}\n\n{{ $('Data').item.json.body.data.object.payment.card_details.errors[0].detail }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        -400
      ],
      "id": "a9ad5ce7-0151-4fe5-a5e1-a4f04bca5050",
      "name": "Informations"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b34f764b-e674-4ddd-882e-6447b248c328",
              "leftValue": "={{ $json.order.customer_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        -220
      ],
      "id": "159c89f9-b2d7-4e51-9a27-1e481f2ad498",
      "name": "Is Customer Exists"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -40
      ],
      "id": "7b759703-5049-410d-8759-2e33a3e3fc1c",
      "name": "Data"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblNNuSPqpcXRzgJF",
          "mode": "list",
          "cachedResultName": "Logs Dev",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblNNuSPqpcXRzgJF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Customer Not Exists",
            "Status": "Error",
            "Notes": "=Event id : {{ $('Data').item.json.body.event_id }}\n\nOrder id : {{ $json.order.id }}\n\nType : {{ $('Data').item.json.body.type }}\n\nReçu : {{ $('Data').item.json.body.data.object.payment.receipt_number }}\n\n",
            "Workflow ID": "={{ $workflow.id }}",
            "Workflow Name": "={{ $workflow.name }}",
            "Execution ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analysed",
              "displayName": "Analysed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Debug URL",
              "displayName": "Debug URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        -20
      ],
      "id": "f69c33c2-425f-489b-9c54-deccf085c260",
      "name": "Insert Log Customer Not Exists",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b126287-691d-4c89-95db-f351ee6103ec",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "payment.created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        -40
      ],
      "id": "caaf798e-0166-4320-a187-17c8a62c6e92",
      "name": "If Payment Created"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        100
      ],
      "id": "0777c5f3-1797-41cb-8b95-7897d7af8bed",
      "name": "No Payment Created Webhook Call"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblNNuSPqpcXRzgJF",
          "mode": "list",
          "cachedResultName": "Logs Dev",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblNNuSPqpcXRzgJF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Transaction added",
            "Status": "Success",
            "Notes": "=Customer Email : {{ $('Informations').item.json.customer.email_address }}\n\nProduct : {{ $('Informations').item.json.name }}\n\nAmount : {{ $('Informations').item.json.gross_sales_money_amount / 100}}\n\nRebate : {{ $('Informations').item.json.total_discount_money_amount /100 }}\n\nEvent id : {{ $('Data').item.json.body.event_id }}\n\nReceipt Id : {{ $('Informations').item.json.receipt_number }}\n\nOrder id : {{ $('Get Order').item.json.order.id }}\n\nType : {{ $('Data').item.json.body.type }}\n\nReçu : {{ $('Data').item.json.body.data.object.payment.receipt_number }}",
            "Workflow ID": "={{  $workflow.id }}",
            "Workflow Name": "={{  $workflow.name }}",
            "Execution ID": "={{  $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analysed",
              "displayName": "Analysed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Debug URL",
              "displayName": "Debug URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2160,
        -740
      ],
      "id": "14179e88-ecf0-4398-b550-c83a9ad732a7",
      "name": "Insert Log Transaction Added",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblNNuSPqpcXRzgJF",
          "mode": "list",
          "cachedResultName": "Logs Dev",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblNNuSPqpcXRzgJF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Transaction added",
            "Status": "Error",
            "Notes": "=Customer Email : {{ $('Informations').item.json.customer.email_address }}\n\nProduct : {{ $('Informations').item.json.name }}\n\nAmount : {{ $('Informations').item.json.gross_sales_money_amount / 100}}\n\nRebate : {{ $('Informations').item.json.total_discount_money_amount /100 }}\n\nEvent id : {{ $('Data').item.json.body.event_id }}\n\nReceipt Id : {{ $('Informations').item.json.receipt_number }}\n\nOrder id : {{ $('Get Order').item.json.order.id }}\n\nType : {{ $('Data').item.json.body.type }}\n\nReçu : {{ $('Data').item.json.body.data.object.payment.receipt_number }}",
            "Workflow ID": "={{ $workflow.id }}",
            "Workflow Name": "={{ $workflow.name }}",
            "Execution ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analysed",
              "displayName": "Analysed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2160,
        -460
      ],
      "id": "a71ded49-08a4-4988-899e-b0ea8ba2f3ba",
      "name": "Insert Log Transaction Error",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.catalog_object_id }}",
                    "rightValue": "JHQZLKYBIHBNCDVRF5KD2VIW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Abonnement"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ffdc2bfd-d2d8-4ca4-995f-f11b2a15f651",
                    "leftValue": "={{ $json.catalog_object_id }}",
                    "rightValue": "YSV5Z3LPFQ6FN2XUA2Y4E4A5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Commandite"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1400,
        -400
      ],
      "id": "c66e6115-fa03-4ea1-85dc-a6ea27f806b8",
      "name": "Switch Catalog Product"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblxzNYwH4PF8rWPz",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblxzNYwH4PF8rWPz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Onboarding à faire": true,
            "Montant Renouvellement": "={{ $json.gross_sales_money_amount / 100 + 100 }}",
            "Rabais $": "={{ $json.total_discount_money_amount / 100}}",
            "Montant Adhésion": "={{ $json.gross_sales_money_amount / 100 }}",
            "Email": "={{ $json.customer.email_address.toLowerCase() }}",
            "Prénom": "={{$json.customer.given_name.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ')}}",
            "Nom": "={{$json.customer.family_name.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ')}}",
            "Téléphone": "={{ $json.customer.phone_number }}",
            "Langue": "Français",
            "Entreprise": "={{ $json.customer.company_name }}",
            "Adresse": "={{ $json.customer.address.address_line_1 }} {{ $json.customer.address.address_line_2 }}",
            "Ville": "={{ $json.customer.address.locality }}",
            "Province": "={{ $json.customer.address.administrative_district_level_1 }}",
            "Code Postal": "={{ $json.customer.address.postal_code }}",
            "Pays": "={{ $json.customer.address.country }}",
            "Type": "['Membre']",
            "Status": "Actif",
            "Date Adhésion": "={{ \n  new Date($json.created_at)\n  .toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) \n}}",
            "Status Paiement": "={{ \n  $('Informations').item.json.payment_status === 'APPROVED' \n  && $('Informations').item.json.net_amount_due_money === 0 \n    ? 'Payé' \n    : 'À recevoir' \n}}",
            "Date Renouvellement": "={{ \n  new Date(new Date($json.created_at).setFullYear(new Date($json.created_at).getFullYear() + 1))\n  .toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) \n}}",
            "No Facture": "={{ $json.receipt_number }}",
            "GreenGo": "Vert",
            "Qualité Contact": "B",
            "Notes Transaction": "={{ $json.notes }}",
            "Mode de paiement": "Square",
            "Notes Paiement": "={{ $('Informations').item.json.card_errors_details }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nom Complet",
              "displayName": "Nom Complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Création",
              "displayName": "Date Création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Member Status",
              "displayName": "Member Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Inactive",
                  "value": "Inactive"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onboarding à faire",
              "displayName": "Onboarding à faire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Or",
              "displayName": "Or",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Homme",
                  "value": "Homme"
                },
                {
                  "name": "Femme",
                  "value": "Femme"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Titre",
              "displayName": "Titre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone INT",
              "displayName": "Téléphone INT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Langue",
              "displayName": "Langue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Français",
                  "value": "Français"
                },
                {
                  "name": "Anglais",
                  "value": "Anglais"
                },
                {
                  "name": "french",
                  "value": "french"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Entreprise",
              "displayName": "Entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Autre URL",
              "displayName": "Autre URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profile Facebook URL",
              "displayName": "Profile Facebook URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Page Facebook URL",
              "displayName": "Page Facebook URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Site Web URL",
              "displayName": "Site Web URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Province",
              "displayName": "Province",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Code Postal",
              "displayName": "Code Postal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pays",
              "displayName": "Pays",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Région",
              "displayName": "Région",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Montréal-Nord",
                  "value": "Montréal-Nord"
                },
                {
                  "name": "Québec",
                  "value": "Québec"
                },
                {
                  "name": "Lévis",
                  "value": "Lévis"
                },
                {
                  "name": "Chicoutimi",
                  "value": "Chicoutimi"
                },
                {
                  "name": "Drummondville",
                  "value": "Drummondville"
                },
                {
                  "name": "Ste-Marie-de-Beauce",
                  "value": "Ste-Marie-de-Beauce"
                },
                {
                  "name": "Laurentides",
                  "value": "Laurentides"
                },
                {
                  "name": "Terrebonne",
                  "value": "Terrebonne"
                },
                {
                  "name": "Rive-Sud de Montréal",
                  "value": "Rive-Sud de Montréal"
                },
                {
                  "name": "Montréal",
                  "value": "Montréal"
                },
                {
                  "name": "Gatineau",
                  "value": "Gatineau"
                },
                {
                  "name": "Trois-Rivières",
                  "value": "Trois-Rivières"
                },
                {
                  "name": "Mauricie",
                  "value": "Mauricie"
                },
                {
                  "name": "Lac St-Jean",
                  "value": "Lac St-Jean"
                },
                {
                  "name": "St-Jean sur Richelieu",
                  "value": "St-Jean sur Richelieu"
                },
                {
                  "name": "Alma",
                  "value": "Alma"
                },
                {
                  "name": "Sherbrooke",
                  "value": "Sherbrooke"
                },
                {
                  "name": "Rimouski",
                  "value": "Rimouski"
                },
                {
                  "name": "St-Hyacinthe",
                  "value": "St-Hyacinthe"
                },
                {
                  "name": "Granby",
                  "value": "Granby"
                },
                {
                  "name": "St-Jean sur Richelieu ",
                  "value": "St-Jean sur Richelieu "
                },
                {
                  "name": "St-Georges-de-Beauce",
                  "value": "St-Georges-de-Beauce"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Membre",
                  "value": "Membre"
                },
                {
                  "name": "Conférencier",
                  "value": "Conférencier"
                },
                {
                  "name": "Fournisseur",
                  "value": "Fournisseur"
                },
                {
                  "name": "Partenaires",
                  "value": "Partenaires"
                },
                {
                  "name": "Prospect",
                  "value": "Prospect"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commanditaire",
              "displayName": "Commanditaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Principal",
                  "value": "Principal"
                },
                {
                  "name": "Secondaire",
                  "value": "Secondaire"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Domaine Activité",
              "displayName": "Domaine Activité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Construction",
                  "value": "Construction"
                },
                {
                  "name": "Divers",
                  "value": "Divers"
                },
                {
                  "name": "Droit",
                  "value": "Droit"
                },
                {
                  "name": "Evenementiel",
                  "value": "Evenementiel"
                },
                {
                  "name": "Finances",
                  "value": "Finances"
                },
                {
                  "name": "Activité physique",
                  "value": "Activité physique"
                },
                {
                  "name": "Assurance",
                  "value": "Assurance"
                },
                {
                  "name": "Automobile",
                  "value": "Automobile"
                },
                {
                  "name": "Bancaire",
                  "value": "Bancaire"
                },
                {
                  "name": "Coaching",
                  "value": "Coaching"
                },
                {
                  "name": "Communication",
                  "value": "Communication"
                },
                {
                  "name": "Comptabilité",
                  "value": "Comptabilité"
                },
                {
                  "name": "Concessionnaire",
                  "value": "Concessionnaire"
                },
                {
                  "name": "Hébergement",
                  "value": "Hébergement"
                },
                {
                  "name": "Immobilier",
                  "value": "Immobilier"
                },
                {
                  "name": "Impression",
                  "value": "Impression"
                },
                {
                  "name": "Informatique",
                  "value": "Informatique"
                },
                {
                  "name": "Loisirs",
                  "value": "Loisirs"
                },
                {
                  "name": "Marketing",
                  "value": "Marketing"
                },
                {
                  "name": "nettoyage",
                  "value": "nettoyage"
                },
                {
                  "name": "Paysagement",
                  "value": "Paysagement"
                },
                {
                  "name": "Ressource humaine",
                  "value": "Ressource humaine"
                },
                {
                  "name": "Restauration",
                  "value": "Restauration"
                },
                {
                  "name": "Santé",
                  "value": "Santé"
                },
                {
                  "name": "Transport",
                  "value": "Transport"
                },
                {
                  "name": "Vente au détail",
                  "value": "Vente au détail"
                },
                {
                  "name": "Restaurant Sushis",
                  "value": "Restaurant Sushis"
                },
                {
                  "name": "Artiste En Arts",
                  "value": "Artiste En Arts"
                },
                {
                  "name": "Conseiller Pret Hypothecaire",
                  "value": "Conseiller Pret Hypothecaire"
                },
                {
                  "name": "Impression Et Reliure",
                  "value": "Impression Et Reliure"
                },
                {
                  "name": "Média",
                  "value": "Média"
                },
                {
                  "name": "Restauration ",
                  "value": "Restauration "
                },
                {
                  "name": "Hotellerie",
                  "value": "Hotellerie"
                },
                {
                  "name": "Physiothérapeute",
                  "value": "Physiothérapeute"
                },
                {
                  "name": "Machine Interac/Solution De Paiement",
                  "value": "Machine Interac/Solution De Paiement"
                },
                {
                  "name": "Avocats",
                  "value": "Avocats"
                },
                {
                  "name": "Consultant",
                  "value": "Consultant"
                },
                {
                  "name": "Charcutier/Traiteur",
                  "value": "Charcutier/Traiteur"
                },
                {
                  "name": "Avocat",
                  "value": "Avocat"
                },
                {
                  "name": "Mediation",
                  "value": "Mediation"
                },
                {
                  "name": "Entrepreneur",
                  "value": "Entrepreneur"
                },
                {
                  "name": "Sommelier Privé",
                  "value": "Sommelier Privé"
                },
                {
                  "name": "Meubles Sur Mesure",
                  "value": "Meubles Sur Mesure"
                },
                {
                  "name": "Céramique/Carrelage",
                  "value": "Céramique/Carrelage"
                },
                {
                  "name": "Inspection En Bâtiment",
                  "value": "Inspection En Bâtiment"
                },
                {
                  "name": "Ti Informatique",
                  "value": "Ti Informatique"
                },
                {
                  "name": "Pare-Brise",
                  "value": "Pare-Brise"
                },
                {
                  "name": "Hypothèque ",
                  "value": "Hypothèque "
                },
                {
                  "name": "Electricite",
                  "value": "Electricite"
                },
                {
                  "name": "Granit ",
                  "value": "Granit "
                },
                {
                  "name": "Courtier Immobilier",
                  "value": "Courtier Immobilier"
                },
                {
                  "name": "Assurance Biens",
                  "value": "Assurance Biens"
                },
                {
                  "name": "Magasin D'Armoires",
                  "value": "Magasin D'Armoires"
                },
                {
                  "name": "Conseiller Financier",
                  "value": "Conseiller Financier"
                },
                {
                  "name": "Loisirs Extérieurs",
                  "value": "Loisirs Extérieurs"
                },
                {
                  "name": "Politique",
                  "value": "Politique"
                },
                {
                  "name": "Athlète/Personnalité Publique",
                  "value": "Athlète/Personnalité Publique"
                },
                {
                  "name": "Horticulture",
                  "value": "Horticulture"
                },
                {
                  "name": "Produits Alimentaires/Poulet Grain",
                  "value": "Produits Alimentaires/Poulet Grain"
                },
                {
                  "name": "Cloture En Pierre",
                  "value": "Cloture En Pierre"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Investisseur",
                  "value": "Investisseur"
                },
                {
                  "name": "Vêtements Pour Homme",
                  "value": "Vêtements Pour Homme"
                },
                {
                  "name": "Traitement D'Eau",
                  "value": "Traitement D'Eau"
                },
                {
                  "name": "Notaire",
                  "value": "Notaire"
                },
                {
                  "name": "Produits Alimentaires Congelés",
                  "value": "Produits Alimentaires Congelés"
                },
                {
                  "name": "Conférencier",
                  "value": "Conférencier"
                },
                {
                  "name": "Immobilier ",
                  "value": "Immobilier "
                },
                {
                  "name": "Peinture",
                  "value": "Peinture"
                },
                {
                  "name": "Communication, Service Clients",
                  "value": "Communication, Service Clients"
                },
                {
                  "name": "Auditeur",
                  "value": "Auditeur"
                },
                {
                  "name": "Technicienne Comptable",
                  "value": "Technicienne Comptable"
                },
                {
                  "name": "Développement Stratégique Immo",
                  "value": "Développement Stratégique Immo"
                },
                {
                  "name": "Comptabilité Et Rh",
                  "value": "Comptabilité Et Rh"
                },
                {
                  "name": "Formation Construction",
                  "value": "Formation Construction"
                },
                {
                  "name": "Developpement Logiciel",
                  "value": "Developpement Logiciel"
                },
                {
                  "name": "Location Voiture",
                  "value": "Location Voiture"
                },
                {
                  "name": "Coaching Entreprise",
                  "value": "Coaching Entreprise"
                },
                {
                  "name": "Coaching Développement ",
                  "value": "Coaching Développement "
                },
                {
                  "name": "Coffrage Béton",
                  "value": "Coffrage Béton"
                },
                {
                  "name": "Entrepreneur Construction",
                  "value": "Entrepreneur Construction"
                },
                {
                  "name": "Energie",
                  "value": "Energie"
                },
                {
                  "name": "Fondation Aider Jeunes",
                  "value": "Fondation Aider Jeunes"
                },
                {
                  "name": "Service Financier",
                  "value": "Service Financier"
                },
                {
                  "name": "Commercialisation Affaires",
                  "value": "Commercialisation Affaires"
                },
                {
                  "name": "Massotherapeute",
                  "value": "Massotherapeute"
                },
                {
                  "name": "Produits Érotiques",
                  "value": "Produits Érotiques"
                },
                {
                  "name": "Excavation",
                  "value": "Excavation"
                },
                {
                  "name": "Plombier",
                  "value": "Plombier"
                },
                {
                  "name": "Site Web",
                  "value": "Site Web"
                },
                {
                  "name": "Entrainement",
                  "value": "Entrainement"
                },
                {
                  "name": "Électricien",
                  "value": "Électricien"
                },
                {
                  "name": "Salle D'Entrainement",
                  "value": "Salle D'Entrainement"
                },
                {
                  "name": "Assurances",
                  "value": "Assurances"
                },
                {
                  "name": "Architecte",
                  "value": "Architecte"
                },
                {
                  "name": "Comptables",
                  "value": "Comptables"
                },
                {
                  "name": "Agence Immobillière",
                  "value": "Agence Immobillière"
                },
                {
                  "name": "Agent Sportif",
                  "value": "Agent Sportif"
                },
                {
                  "name": "Drummondville",
                  "value": "Drummondville"
                },
                {
                  "name": "Gestion Matieres Résiduelles",
                  "value": "Gestion Matieres Résiduelles"
                },
                {
                  "name": "Service Conseil Securité Travail",
                  "value": "Service Conseil Securité Travail"
                },
                {
                  "name": "Athlete",
                  "value": "Athlete"
                },
                {
                  "name": "Boutique Mode Homme",
                  "value": "Boutique Mode Homme"
                },
                {
                  "name": "Fruits De Mer",
                  "value": "Fruits De Mer"
                },
                {
                  "name": "Evaluation Immobilier",
                  "value": "Evaluation Immobilier"
                },
                {
                  "name": "Publicite",
                  "value": "Publicite"
                },
                {
                  "name": "Nutritionniste",
                  "value": "Nutritionniste"
                },
                {
                  "name": "Jeux",
                  "value": "Jeux"
                },
                {
                  "name": "Planificateur Financier",
                  "value": "Planificateur Financier"
                },
                {
                  "name": "Immobiiler",
                  "value": "Immobiiler"
                },
                {
                  "name": "Service Financier Assurance Personne",
                  "value": "Service Financier Assurance Personne"
                },
                {
                  "name": "Conduits Sur Mesure",
                  "value": "Conduits Sur Mesure"
                },
                {
                  "name": "Impression Et Graphisme",
                  "value": "Impression Et Graphisme"
                },
                {
                  "name": "Massotherapie",
                  "value": "Massotherapie"
                },
                {
                  "name": "Enseignes",
                  "value": "Enseignes"
                },
                {
                  "name": "Vente Outillage",
                  "value": "Vente Outillage"
                },
                {
                  "name": "Développement Des Affaires",
                  "value": "Développement Des Affaires"
                },
                {
                  "name": "Voitures D'Occassion",
                  "value": "Voitures D'Occassion"
                },
                {
                  "name": "Technosanté",
                  "value": "Technosanté"
                },
                {
                  "name": "Programmation",
                  "value": "Programmation"
                },
                {
                  "name": "Service De Coupe Laser",
                  "value": "Service De Coupe Laser"
                },
                {
                  "name": "Banque",
                  "value": "Banque"
                },
                {
                  "name": "Conférence",
                  "value": "Conférence"
                },
                {
                  "name": "Vitres D'Autos",
                  "value": "Vitres D'Autos"
                },
                {
                  "name": "Courtier Hypothecaire",
                  "value": "Courtier Hypothecaire"
                },
                {
                  "name": "Optometriste",
                  "value": "Optometriste"
                },
                {
                  "name": "Ecrivain",
                  "value": "Ecrivain"
                },
                {
                  "name": "Audioprothésiste ",
                  "value": "Audioprothésiste "
                },
                {
                  "name": "Prets Privés",
                  "value": "Prets Privés"
                },
                {
                  "name": "Assurance Vie",
                  "value": "Assurance Vie"
                },
                {
                  "name": "Imprimerie",
                  "value": "Imprimerie"
                },
                {
                  "name": "Voyage",
                  "value": "Voyage"
                },
                {
                  "name": "Entrepreneur En Developpement",
                  "value": "Entrepreneur En Developpement"
                },
                {
                  "name": "Saint-Ubalde",
                  "value": "Saint-Ubalde"
                },
                {
                  "name": "Medias",
                  "value": "Medias"
                },
                {
                  "name": "Spa",
                  "value": "Spa"
                },
                {
                  "name": "Internet",
                  "value": "Internet"
                },
                {
                  "name": "Conseil Leadership",
                  "value": "Conseil Leadership"
                },
                {
                  "name": "Surf Electrique ",
                  "value": "Surf Electrique "
                },
                {
                  "name": "Toiture",
                  "value": "Toiture"
                },
                {
                  "name": "Courtage Résidentiel Et Commercial",
                  "value": "Courtage Résidentiel Et Commercial"
                },
                {
                  "name": "Support Sécurité Informatique",
                  "value": "Support Sécurité Informatique"
                },
                {
                  "name": "Aménagement Paysager",
                  "value": "Aménagement Paysager"
                },
                {
                  "name": "Crèmerie/Chocolaterie",
                  "value": "Crèmerie/Chocolaterie"
                },
                {
                  "name": "Investissement/Mentor",
                  "value": "Investissement/Mentor"
                },
                {
                  "name": "Véhicules Récréatifs",
                  "value": "Véhicules Récréatifs"
                },
                {
                  "name": "Gym",
                  "value": "Gym"
                },
                {
                  "name": "Pneus",
                  "value": "Pneus"
                },
                {
                  "name": "Location Outils",
                  "value": "Location Outils"
                },
                {
                  "name": "Services Informatiques",
                  "value": "Services Informatiques"
                },
                {
                  "name": "Bleuets Sauvages",
                  "value": "Bleuets Sauvages"
                },
                {
                  "name": "Dépanneur",
                  "value": "Dépanneur"
                },
                {
                  "name": "Cabinet De Recrutement",
                  "value": "Cabinet De Recrutement"
                },
                {
                  "name": "Autobus/Transport",
                  "value": "Autobus/Transport"
                },
                {
                  "name": "Automobiles",
                  "value": "Automobiles"
                },
                {
                  "name": "Notaires",
                  "value": "Notaires"
                },
                {
                  "name": "Esthétique Automobile",
                  "value": "Esthétique Automobile"
                },
                {
                  "name": "Systèmes Intérieur (Construction",
                  "value": "Systèmes Intérieur (Construction"
                },
                {
                  "name": "Agence De Pub",
                  "value": "Agence De Pub"
                },
                {
                  "name": "Accompagnement Stratégique",
                  "value": "Accompagnement Stratégique"
                },
                {
                  "name": "Entrepreneur En Forage",
                  "value": "Entrepreneur En Forage"
                },
                {
                  "name": "Communication/Coaching",
                  "value": "Communication/Coaching"
                },
                {
                  "name": "Edition, Multimédia",
                  "value": "Edition, Multimédia"
                },
                {
                  "name": "Tuile, Comptoir, Plomberie",
                  "value": "Tuile, Comptoir, Plomberie"
                },
                {
                  "name": "Piscinier",
                  "value": "Piscinier"
                },
                {
                  "name": "Solutions De Financement",
                  "value": "Solutions De Financement"
                },
                {
                  "name": "Toitures/École Karaté",
                  "value": "Toitures/École Karaté"
                },
                {
                  "name": "Sécurité Credit",
                  "value": "Sécurité Credit"
                },
                {
                  "name": "Peintre En Batiment",
                  "value": "Peintre En Batiment"
                },
                {
                  "name": "Conseiller En Ingénierie",
                  "value": "Conseiller En Ingénierie"
                },
                {
                  "name": "Grill",
                  "value": "Grill"
                },
                {
                  "name": "Gestion Immobilière",
                  "value": "Gestion Immobilière"
                },
                {
                  "name": "Bbq",
                  "value": "Bbq"
                },
                {
                  "name": "Physiothérapie",
                  "value": "Physiothérapie"
                },
                {
                  "name": "Planification Financière",
                  "value": "Planification Financière"
                },
                {
                  "name": "Repas Préparés",
                  "value": "Repas Préparés"
                },
                {
                  "name": "Électrostimulation",
                  "value": "Électrostimulation"
                },
                {
                  "name": "Publicité Numérique",
                  "value": "Publicité Numérique"
                },
                {
                  "name": "Drones",
                  "value": "Drones"
                },
                {
                  "name": "Cabinet D'Intelligence Créative",
                  "value": "Cabinet D'Intelligence Créative"
                },
                {
                  "name": "Syndic Faillite",
                  "value": "Syndic Faillite"
                },
                {
                  "name": "Consultants Stratégies D'Affaires",
                  "value": "Consultants Stratégies D'Affaires"
                },
                {
                  "name": "Conseiller Sécurité Financière",
                  "value": "Conseiller Sécurité Financière"
                },
                {
                  "name": "Orthèses/Prothèses",
                  "value": "Orthèses/Prothèses"
                },
                {
                  "name": "Nettoyage Haute-Pression",
                  "value": "Nettoyage Haute-Pression"
                },
                {
                  "name": "Revêtements/Moulures",
                  "value": "Revêtements/Moulures"
                },
                {
                  "name": "Location Equipement",
                  "value": "Location Equipement"
                },
                {
                  "name": "Services Nettoyage",
                  "value": "Services Nettoyage"
                },
                {
                  "name": "Publicité Et Marketing Numérique",
                  "value": "Publicité Et Marketing Numérique"
                },
                {
                  "name": "T--Shirt/Chandail/Casquette",
                  "value": "T--Shirt/Chandail/Casquette"
                },
                {
                  "name": "Revêtementd De Plancher",
                  "value": "Revêtementd De Plancher"
                },
                {
                  "name": "Construction/Rénovation",
                  "value": "Construction/Rénovation"
                },
                {
                  "name": "Entrepreneur En Construction",
                  "value": "Entrepreneur En Construction"
                },
                {
                  "name": "Agence Marketing",
                  "value": "Agence Marketing"
                },
                {
                  "name": "Gestion Immobillière",
                  "value": "Gestion Immobillière"
                },
                {
                  "name": "Rbc",
                  "value": "Rbc"
                },
                {
                  "name": "Aréna",
                  "value": "Aréna"
                },
                {
                  "name": "Services Financier",
                  "value": "Services Financier"
                },
                {
                  "name": "Terrain De Golf",
                  "value": "Terrain De Golf"
                },
                {
                  "name": "Clôtures",
                  "value": "Clôtures"
                },
                {
                  "name": "Cabinet D'Assurances",
                  "value": "Cabinet D'Assurances"
                },
                {
                  "name": "Photographe",
                  "value": "Photographe"
                },
                {
                  "name": "Construction Chalet",
                  "value": "Construction Chalet"
                },
                {
                  "name": "Conseil Développement Affaire ",
                  "value": "Conseil Développement Affaire "
                },
                {
                  "name": "École De Karaté",
                  "value": "École De Karaté"
                },
                {
                  "name": "Distribution",
                  "value": "Distribution"
                },
                {
                  "name": "Esthetique",
                  "value": "Esthetique"
                },
                {
                  "name": "Service Domicile",
                  "value": "Service Domicile"
                },
                {
                  "name": "Vente Voiture",
                  "value": "Vente Voiture"
                },
                {
                  "name": "Artiste Peintre",
                  "value": "Artiste Peintre"
                },
                {
                  "name": "Financement",
                  "value": "Financement"
                },
                {
                  "name": "Cigarettes Électroniques",
                  "value": "Cigarettes Électroniques"
                },
                {
                  "name": "Optimisation D’Entreprise",
                  "value": "Optimisation D’Entreprise"
                },
                {
                  "name": "Courtier D'Assurances",
                  "value": "Courtier D'Assurances"
                },
                {
                  "name": "Revêtement Extérieur",
                  "value": "Revêtement Extérieur"
                },
                {
                  "name": "Assurance Automobile",
                  "value": "Assurance Automobile"
                },
                {
                  "name": "École Immobillière",
                  "value": "École Immobillière"
                },
                {
                  "name": "Courtier Hypothécaire",
                  "value": "Courtier Hypothécaire"
                },
                {
                  "name": "Boutique Pour Hommes",
                  "value": "Boutique Pour Hommes"
                },
                {
                  "name": "Ramonage/Excavation",
                  "value": "Ramonage/Excavation"
                },
                {
                  "name": "Pâtisserie/Confiserie",
                  "value": "Pâtisserie/Confiserie"
                },
                {
                  "name": "Gestion Réseaux Sociaux",
                  "value": "Gestion Réseaux Sociaux"
                },
                {
                  "name": "Entrepreneur Général",
                  "value": "Entrepreneur Général"
                },
                {
                  "name": "Escaliers",
                  "value": "Escaliers"
                },
                {
                  "name": "Agence De Marketing",
                  "value": "Agence De Marketing"
                },
                {
                  "name": "Peintres",
                  "value": "Peintres"
                },
                {
                  "name": "Ingénierie Personnalisée",
                  "value": "Ingénierie Personnalisée"
                },
                {
                  "name": "Designer D'Intérieur",
                  "value": "Designer D'Intérieur"
                },
                {
                  "name": "Cuisines Sur Mesure",
                  "value": "Cuisines Sur Mesure"
                },
                {
                  "name": "Studio/École De Percussion",
                  "value": "Studio/École De Percussion"
                },
                {
                  "name": "Coach D'Affaires",
                  "value": "Coach D'Affaires"
                },
                {
                  "name": "Chargé De Projets",
                  "value": "Chargé De Projets"
                },
                {
                  "name": "Golf Intérieur",
                  "value": "Golf Intérieur"
                },
                {
                  "name": "Microbrasserie",
                  "value": "Microbrasserie"
                },
                {
                  "name": "Jeux De Laser",
                  "value": "Jeux De Laser"
                },
                {
                  "name": "Fournitures Animaux",
                  "value": "Fournitures Animaux"
                },
                {
                  "name": "Agence Voyage",
                  "value": "Agence Voyage"
                },
                {
                  "name": "Coach Privé",
                  "value": "Coach Privé"
                },
                {
                  "name": "Location Avec Option Achat Immobilier",
                  "value": "Location Avec Option Achat Immobilier"
                },
                {
                  "name": "Carte Affaires Électronique",
                  "value": "Carte Affaires Électronique"
                },
                {
                  "name": "Centre D'Entrainement",
                  "value": "Centre D'Entrainement"
                },
                {
                  "name": "Salle Entrainement",
                  "value": "Salle Entrainement"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Entreprise",
              "displayName": "Expertise Entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Intelligence Artificielle",
                  "value": "Intelligence Artificielle"
                },
                {
                  "name": "Défi Pierre Lavoie",
                  "value": "Défi Pierre Lavoie"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Actif",
                  "value": "Actif"
                },
                {
                  "name": "Inactif",
                  "value": "Inactif"
                },
                {
                  "name": "À Réviser",
                  "value": "À Réviser"
                },
                {
                  "name": "OUT",
                  "value": "OUT"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes Transaction",
              "displayName": "Notes Transaction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Adhésion",
              "displayName": "Date Adhésion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Renouvellement",
              "displayName": "Date Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mois Renouvellement",
              "displayName": "Mois Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Periode Renouvellement",
              "displayName": "Periode Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Montant Renouvellement",
              "displayName": "Montant Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Montant après rabais",
              "displayName": "Montant après rabais",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "TPS",
              "displayName": "TPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "TVQ",
              "displayName": "TVQ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Montant Total",
              "displayName": "Montant Total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Rabais %",
              "displayName": "Rabais %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rabais $",
              "displayName": "Rabais $",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Rabais",
              "displayName": "Total Rabais",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Montant Adhésion",
              "displayName": "Montant Adhésion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "No Facture",
              "displayName": "No Facture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mode de paiement",
              "displayName": "Mode de paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Square",
                  "value": "Square"
                },
                {
                  "name": "Chèque",
                  "value": "Chèque"
                },
                {
                  "name": "Virement",
                  "value": "Virement"
                },
                {
                  "name": "Cash",
                  "value": "Cash"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes Paiement",
              "displayName": "Notes Paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status Paiement",
              "displayName": "Status Paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "À recevoir",
                  "value": "À recevoir"
                },
                {
                  "name": "Entente de Paiement",
                  "value": "Entente de Paiement"
                },
                {
                  "name": "Payé",
                  "value": "Payé"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Paiement Entente",
              "displayName": "Date Paiement Entente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Montant Paiement Entente",
              "displayName": "Montant Paiement Entente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entente Paiement",
              "displayName": "Entente Paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements Invité",
              "displayName": "Événements Invité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements 2",
              "displayName": "Événements 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date anniversaire",
              "displayName": "Date anniversaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Référreur",
              "displayName": "Référreur",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Commissions Référeur $",
              "displayName": "Commissions Référeur $",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Commissions Référreur %",
              "displayName": "Commissions Référreur %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements 3",
              "displayName": "Événements 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements 4",
              "displayName": "Événements 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Participation Événement",
              "displayName": "Participation Événement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name (from Participation Événement)",
              "displayName": "Name (from Participation Événement)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Paiements",
              "displayName": "Paiements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Provenance",
              "displayName": "Provenance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Niveau d'intérêt",
              "displayName": "Niveau d'intérêt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Moyen",
                  "value": "Moyen"
                },
                {
                  "name": "Élevé",
                  "value": "Élevé"
                },
                {
                  "name": "Aucun",
                  "value": "Aucun"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date de suivi",
              "displayName": "Date de suivi",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GreenGo",
              "displayName": "GreenGo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Vert",
                  "value": "Vert"
                },
                {
                  "name": "Jaune",
                  "value": "Jaune"
                },
                {
                  "name": "Rouge",
                  "value": "Rouge"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Investisseur Potentiel",
              "displayName": "Investisseur Potentiel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Qualité Contact",
              "displayName": "Qualité Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "A",
                  "value": "A"
                },
                {
                  "name": "B",
                  "value": "B"
                },
                {
                  "name": "C",
                  "value": "C"
                },
                {
                  "name": "D",
                  "value": "D"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contrats",
              "displayName": "Contrats",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "À réviser",
              "displayName": "À réviser",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Responsable du Suivi",
              "displayName": "Responsable du Suivi",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Christian Gosselin",
                  "value": "Christian Gosselin"
                },
                {
                  "name": "Natasha Wagner",
                  "value": "Natasha Wagner"
                },
                {
                  "name": "Denis Perreault",
                  "value": "Denis Perreault"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vu par denis",
              "displayName": "Vu par denis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Commandites",
              "displayName": "Commandites",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date de Suivi Court",
              "displayName": "Date de Suivi Court",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1900,
        -540
      ],
      "id": "a004a615-ed3c-4596-85c3-3591109a61ae",
      "name": "Upsert Customer",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblxzNYwH4PF8rWPz",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblxzNYwH4PF8rWPz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.customer.email_address.toLowerCase() }}",
            "Prénom": "={{ $json.customer.given_name }}",
            "Nom": "={{ $json.customer.family_name }}",
            "Téléphone": "={{ $json.customer.phone_number }}",
            "Langue": "Français",
            "Entreprise": "={{ $json.customer.company_name }}",
            "Adresse": "={{ $json.customer.address.address_line_1 }} {{ $json.customer.address.address_line_2 }}",
            "Ville": "={{ $json.customer.address.locality }}",
            "Province": "={{ $json.customer.address.administrative_district_level_1 }}",
            "Code Postal": "={{ $json.customer.address.postal_code }}",
            "Pays": "={{ $json.customer.address.country }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nom Complet",
              "displayName": "Nom Complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Création",
              "displayName": "Date Création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Member Status",
              "displayName": "Member Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Inactive",
                  "value": "Inactive"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onboarding à faire",
              "displayName": "Onboarding à faire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Or",
              "displayName": "Or",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Genre",
              "displayName": "Genre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Homme",
                  "value": "Homme"
                },
                {
                  "name": "Femme",
                  "value": "Femme"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Titre",
              "displayName": "Titre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone INT",
              "displayName": "Téléphone INT",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Langue",
              "displayName": "Langue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Français",
                  "value": "Français"
                },
                {
                  "name": "Anglais",
                  "value": "Anglais"
                },
                {
                  "name": "french",
                  "value": "french"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Entreprise",
              "displayName": "Entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Autre URL",
              "displayName": "Autre URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Instagram URL",
              "displayName": "Instagram URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profile Facebook URL",
              "displayName": "Profile Facebook URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Page Facebook URL",
              "displayName": "Page Facebook URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Site Web URL",
              "displayName": "Site Web URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Province",
              "displayName": "Province",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Code Postal",
              "displayName": "Code Postal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pays",
              "displayName": "Pays",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Région",
              "displayName": "Région",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Montréal-Nord",
                  "value": "Montréal-Nord"
                },
                {
                  "name": "Québec",
                  "value": "Québec"
                },
                {
                  "name": "Lévis",
                  "value": "Lévis"
                },
                {
                  "name": "Chicoutimi",
                  "value": "Chicoutimi"
                },
                {
                  "name": "Drummondville",
                  "value": "Drummondville"
                },
                {
                  "name": "Ste-Marie-de-Beauce",
                  "value": "Ste-Marie-de-Beauce"
                },
                {
                  "name": "Laurentides",
                  "value": "Laurentides"
                },
                {
                  "name": "Terrebonne",
                  "value": "Terrebonne"
                },
                {
                  "name": "Rive-Sud de Montréal",
                  "value": "Rive-Sud de Montréal"
                },
                {
                  "name": "Montréal",
                  "value": "Montréal"
                },
                {
                  "name": "Gatineau",
                  "value": "Gatineau"
                },
                {
                  "name": "Trois-Rivières",
                  "value": "Trois-Rivières"
                },
                {
                  "name": "Mauricie",
                  "value": "Mauricie"
                },
                {
                  "name": "Lac St-Jean",
                  "value": "Lac St-Jean"
                },
                {
                  "name": "St-Jean sur Richelieu",
                  "value": "St-Jean sur Richelieu"
                },
                {
                  "name": "Alma",
                  "value": "Alma"
                },
                {
                  "name": "Sherbrooke",
                  "value": "Sherbrooke"
                },
                {
                  "name": "Rimouski",
                  "value": "Rimouski"
                },
                {
                  "name": "St-Hyacinthe",
                  "value": "St-Hyacinthe"
                },
                {
                  "name": "Granby",
                  "value": "Granby"
                },
                {
                  "name": "St-Jean sur Richelieu ",
                  "value": "St-Jean sur Richelieu "
                },
                {
                  "name": "St-Georges-de-Beauce",
                  "value": "St-Georges-de-Beauce"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Membre",
                  "value": "Membre"
                },
                {
                  "name": "Conférencier",
                  "value": "Conférencier"
                },
                {
                  "name": "Fournisseur",
                  "value": "Fournisseur"
                },
                {
                  "name": "Partenaires",
                  "value": "Partenaires"
                },
                {
                  "name": "Prospect",
                  "value": "Prospect"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Commanditaire",
              "displayName": "Commanditaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Principal",
                  "value": "Principal"
                },
                {
                  "name": "Secondaire",
                  "value": "Secondaire"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Domaine Activité",
              "displayName": "Domaine Activité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Construction",
                  "value": "Construction"
                },
                {
                  "name": "Divers",
                  "value": "Divers"
                },
                {
                  "name": "Droit",
                  "value": "Droit"
                },
                {
                  "name": "Evenementiel",
                  "value": "Evenementiel"
                },
                {
                  "name": "Finances",
                  "value": "Finances"
                },
                {
                  "name": "Activité physique",
                  "value": "Activité physique"
                },
                {
                  "name": "Assurance",
                  "value": "Assurance"
                },
                {
                  "name": "Automobile",
                  "value": "Automobile"
                },
                {
                  "name": "Bancaire",
                  "value": "Bancaire"
                },
                {
                  "name": "Coaching",
                  "value": "Coaching"
                },
                {
                  "name": "Communication",
                  "value": "Communication"
                },
                {
                  "name": "Comptabilité",
                  "value": "Comptabilité"
                },
                {
                  "name": "Concessionnaire",
                  "value": "Concessionnaire"
                },
                {
                  "name": "Hébergement",
                  "value": "Hébergement"
                },
                {
                  "name": "Immobilier",
                  "value": "Immobilier"
                },
                {
                  "name": "Impression",
                  "value": "Impression"
                },
                {
                  "name": "Informatique",
                  "value": "Informatique"
                },
                {
                  "name": "Loisirs",
                  "value": "Loisirs"
                },
                {
                  "name": "Marketing",
                  "value": "Marketing"
                },
                {
                  "name": "nettoyage",
                  "value": "nettoyage"
                },
                {
                  "name": "Paysagement",
                  "value": "Paysagement"
                },
                {
                  "name": "Ressource humaine",
                  "value": "Ressource humaine"
                },
                {
                  "name": "Restauration",
                  "value": "Restauration"
                },
                {
                  "name": "Santé",
                  "value": "Santé"
                },
                {
                  "name": "Transport",
                  "value": "Transport"
                },
                {
                  "name": "Vente au détail",
                  "value": "Vente au détail"
                },
                {
                  "name": "Restaurant Sushis",
                  "value": "Restaurant Sushis"
                },
                {
                  "name": "Artiste En Arts",
                  "value": "Artiste En Arts"
                },
                {
                  "name": "Conseiller Pret Hypothecaire",
                  "value": "Conseiller Pret Hypothecaire"
                },
                {
                  "name": "Impression Et Reliure",
                  "value": "Impression Et Reliure"
                },
                {
                  "name": "Média",
                  "value": "Média"
                },
                {
                  "name": "Restauration ",
                  "value": "Restauration "
                },
                {
                  "name": "Hotellerie",
                  "value": "Hotellerie"
                },
                {
                  "name": "Physiothérapeute",
                  "value": "Physiothérapeute"
                },
                {
                  "name": "Machine Interac/Solution De Paiement",
                  "value": "Machine Interac/Solution De Paiement"
                },
                {
                  "name": "Avocats",
                  "value": "Avocats"
                },
                {
                  "name": "Consultant",
                  "value": "Consultant"
                },
                {
                  "name": "Charcutier/Traiteur",
                  "value": "Charcutier/Traiteur"
                },
                {
                  "name": "Avocat",
                  "value": "Avocat"
                },
                {
                  "name": "Mediation",
                  "value": "Mediation"
                },
                {
                  "name": "Entrepreneur",
                  "value": "Entrepreneur"
                },
                {
                  "name": "Sommelier Privé",
                  "value": "Sommelier Privé"
                },
                {
                  "name": "Meubles Sur Mesure",
                  "value": "Meubles Sur Mesure"
                },
                {
                  "name": "Céramique/Carrelage",
                  "value": "Céramique/Carrelage"
                },
                {
                  "name": "Inspection En Bâtiment",
                  "value": "Inspection En Bâtiment"
                },
                {
                  "name": "Ti Informatique",
                  "value": "Ti Informatique"
                },
                {
                  "name": "Pare-Brise",
                  "value": "Pare-Brise"
                },
                {
                  "name": "Hypothèque ",
                  "value": "Hypothèque "
                },
                {
                  "name": "Electricite",
                  "value": "Electricite"
                },
                {
                  "name": "Granit ",
                  "value": "Granit "
                },
                {
                  "name": "Courtier Immobilier",
                  "value": "Courtier Immobilier"
                },
                {
                  "name": "Assurance Biens",
                  "value": "Assurance Biens"
                },
                {
                  "name": "Magasin D'Armoires",
                  "value": "Magasin D'Armoires"
                },
                {
                  "name": "Conseiller Financier",
                  "value": "Conseiller Financier"
                },
                {
                  "name": "Loisirs Extérieurs",
                  "value": "Loisirs Extérieurs"
                },
                {
                  "name": "Politique",
                  "value": "Politique"
                },
                {
                  "name": "Athlète/Personnalité Publique",
                  "value": "Athlète/Personnalité Publique"
                },
                {
                  "name": "Horticulture",
                  "value": "Horticulture"
                },
                {
                  "name": "Produits Alimentaires/Poulet Grain",
                  "value": "Produits Alimentaires/Poulet Grain"
                },
                {
                  "name": "Cloture En Pierre",
                  "value": "Cloture En Pierre"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Investisseur",
                  "value": "Investisseur"
                },
                {
                  "name": "Vêtements Pour Homme",
                  "value": "Vêtements Pour Homme"
                },
                {
                  "name": "Traitement D'Eau",
                  "value": "Traitement D'Eau"
                },
                {
                  "name": "Notaire",
                  "value": "Notaire"
                },
                {
                  "name": "Produits Alimentaires Congelés",
                  "value": "Produits Alimentaires Congelés"
                },
                {
                  "name": "Conférencier",
                  "value": "Conférencier"
                },
                {
                  "name": "Immobilier ",
                  "value": "Immobilier "
                },
                {
                  "name": "Peinture",
                  "value": "Peinture"
                },
                {
                  "name": "Communication, Service Clients",
                  "value": "Communication, Service Clients"
                },
                {
                  "name": "Auditeur",
                  "value": "Auditeur"
                },
                {
                  "name": "Technicienne Comptable",
                  "value": "Technicienne Comptable"
                },
                {
                  "name": "Développement Stratégique Immo",
                  "value": "Développement Stratégique Immo"
                },
                {
                  "name": "Comptabilité Et Rh",
                  "value": "Comptabilité Et Rh"
                },
                {
                  "name": "Formation Construction",
                  "value": "Formation Construction"
                },
                {
                  "name": "Developpement Logiciel",
                  "value": "Developpement Logiciel"
                },
                {
                  "name": "Location Voiture",
                  "value": "Location Voiture"
                },
                {
                  "name": "Coaching Entreprise",
                  "value": "Coaching Entreprise"
                },
                {
                  "name": "Coaching Développement ",
                  "value": "Coaching Développement "
                },
                {
                  "name": "Coffrage Béton",
                  "value": "Coffrage Béton"
                },
                {
                  "name": "Entrepreneur Construction",
                  "value": "Entrepreneur Construction"
                },
                {
                  "name": "Energie",
                  "value": "Energie"
                },
                {
                  "name": "Fondation Aider Jeunes",
                  "value": "Fondation Aider Jeunes"
                },
                {
                  "name": "Service Financier",
                  "value": "Service Financier"
                },
                {
                  "name": "Commercialisation Affaires",
                  "value": "Commercialisation Affaires"
                },
                {
                  "name": "Massotherapeute",
                  "value": "Massotherapeute"
                },
                {
                  "name": "Produits Érotiques",
                  "value": "Produits Érotiques"
                },
                {
                  "name": "Excavation",
                  "value": "Excavation"
                },
                {
                  "name": "Plombier",
                  "value": "Plombier"
                },
                {
                  "name": "Site Web",
                  "value": "Site Web"
                },
                {
                  "name": "Entrainement",
                  "value": "Entrainement"
                },
                {
                  "name": "Électricien",
                  "value": "Électricien"
                },
                {
                  "name": "Salle D'Entrainement",
                  "value": "Salle D'Entrainement"
                },
                {
                  "name": "Assurances",
                  "value": "Assurances"
                },
                {
                  "name": "Architecte",
                  "value": "Architecte"
                },
                {
                  "name": "Comptables",
                  "value": "Comptables"
                },
                {
                  "name": "Agence Immobillière",
                  "value": "Agence Immobillière"
                },
                {
                  "name": "Agent Sportif",
                  "value": "Agent Sportif"
                },
                {
                  "name": "Drummondville",
                  "value": "Drummondville"
                },
                {
                  "name": "Gestion Matieres Résiduelles",
                  "value": "Gestion Matieres Résiduelles"
                },
                {
                  "name": "Service Conseil Securité Travail",
                  "value": "Service Conseil Securité Travail"
                },
                {
                  "name": "Athlete",
                  "value": "Athlete"
                },
                {
                  "name": "Boutique Mode Homme",
                  "value": "Boutique Mode Homme"
                },
                {
                  "name": "Fruits De Mer",
                  "value": "Fruits De Mer"
                },
                {
                  "name": "Evaluation Immobilier",
                  "value": "Evaluation Immobilier"
                },
                {
                  "name": "Publicite",
                  "value": "Publicite"
                },
                {
                  "name": "Nutritionniste",
                  "value": "Nutritionniste"
                },
                {
                  "name": "Jeux",
                  "value": "Jeux"
                },
                {
                  "name": "Planificateur Financier",
                  "value": "Planificateur Financier"
                },
                {
                  "name": "Immobiiler",
                  "value": "Immobiiler"
                },
                {
                  "name": "Service Financier Assurance Personne",
                  "value": "Service Financier Assurance Personne"
                },
                {
                  "name": "Conduits Sur Mesure",
                  "value": "Conduits Sur Mesure"
                },
                {
                  "name": "Impression Et Graphisme",
                  "value": "Impression Et Graphisme"
                },
                {
                  "name": "Massotherapie",
                  "value": "Massotherapie"
                },
                {
                  "name": "Enseignes",
                  "value": "Enseignes"
                },
                {
                  "name": "Vente Outillage",
                  "value": "Vente Outillage"
                },
                {
                  "name": "Développement Des Affaires",
                  "value": "Développement Des Affaires"
                },
                {
                  "name": "Voitures D'Occassion",
                  "value": "Voitures D'Occassion"
                },
                {
                  "name": "Technosanté",
                  "value": "Technosanté"
                },
                {
                  "name": "Programmation",
                  "value": "Programmation"
                },
                {
                  "name": "Service De Coupe Laser",
                  "value": "Service De Coupe Laser"
                },
                {
                  "name": "Banque",
                  "value": "Banque"
                },
                {
                  "name": "Conférence",
                  "value": "Conférence"
                },
                {
                  "name": "Vitres D'Autos",
                  "value": "Vitres D'Autos"
                },
                {
                  "name": "Courtier Hypothecaire",
                  "value": "Courtier Hypothecaire"
                },
                {
                  "name": "Optometriste",
                  "value": "Optometriste"
                },
                {
                  "name": "Ecrivain",
                  "value": "Ecrivain"
                },
                {
                  "name": "Audioprothésiste ",
                  "value": "Audioprothésiste "
                },
                {
                  "name": "Prets Privés",
                  "value": "Prets Privés"
                },
                {
                  "name": "Assurance Vie",
                  "value": "Assurance Vie"
                },
                {
                  "name": "Imprimerie",
                  "value": "Imprimerie"
                },
                {
                  "name": "Voyage",
                  "value": "Voyage"
                },
                {
                  "name": "Entrepreneur En Developpement",
                  "value": "Entrepreneur En Developpement"
                },
                {
                  "name": "Saint-Ubalde",
                  "value": "Saint-Ubalde"
                },
                {
                  "name": "Medias",
                  "value": "Medias"
                },
                {
                  "name": "Spa",
                  "value": "Spa"
                },
                {
                  "name": "Internet",
                  "value": "Internet"
                },
                {
                  "name": "Conseil Leadership",
                  "value": "Conseil Leadership"
                },
                {
                  "name": "Surf Electrique ",
                  "value": "Surf Electrique "
                },
                {
                  "name": "Toiture",
                  "value": "Toiture"
                },
                {
                  "name": "Courtage Résidentiel Et Commercial",
                  "value": "Courtage Résidentiel Et Commercial"
                },
                {
                  "name": "Support Sécurité Informatique",
                  "value": "Support Sécurité Informatique"
                },
                {
                  "name": "Aménagement Paysager",
                  "value": "Aménagement Paysager"
                },
                {
                  "name": "Crèmerie/Chocolaterie",
                  "value": "Crèmerie/Chocolaterie"
                },
                {
                  "name": "Investissement/Mentor",
                  "value": "Investissement/Mentor"
                },
                {
                  "name": "Véhicules Récréatifs",
                  "value": "Véhicules Récréatifs"
                },
                {
                  "name": "Gym",
                  "value": "Gym"
                },
                {
                  "name": "Pneus",
                  "value": "Pneus"
                },
                {
                  "name": "Location Outils",
                  "value": "Location Outils"
                },
                {
                  "name": "Services Informatiques",
                  "value": "Services Informatiques"
                },
                {
                  "name": "Bleuets Sauvages",
                  "value": "Bleuets Sauvages"
                },
                {
                  "name": "Dépanneur",
                  "value": "Dépanneur"
                },
                {
                  "name": "Cabinet De Recrutement",
                  "value": "Cabinet De Recrutement"
                },
                {
                  "name": "Autobus/Transport",
                  "value": "Autobus/Transport"
                },
                {
                  "name": "Automobiles",
                  "value": "Automobiles"
                },
                {
                  "name": "Notaires",
                  "value": "Notaires"
                },
                {
                  "name": "Esthétique Automobile",
                  "value": "Esthétique Automobile"
                },
                {
                  "name": "Systèmes Intérieur (Construction",
                  "value": "Systèmes Intérieur (Construction"
                },
                {
                  "name": "Agence De Pub",
                  "value": "Agence De Pub"
                },
                {
                  "name": "Accompagnement Stratégique",
                  "value": "Accompagnement Stratégique"
                },
                {
                  "name": "Entrepreneur En Forage",
                  "value": "Entrepreneur En Forage"
                },
                {
                  "name": "Communication/Coaching",
                  "value": "Communication/Coaching"
                },
                {
                  "name": "Edition, Multimédia",
                  "value": "Edition, Multimédia"
                },
                {
                  "name": "Tuile, Comptoir, Plomberie",
                  "value": "Tuile, Comptoir, Plomberie"
                },
                {
                  "name": "Piscinier",
                  "value": "Piscinier"
                },
                {
                  "name": "Solutions De Financement",
                  "value": "Solutions De Financement"
                },
                {
                  "name": "Toitures/École Karaté",
                  "value": "Toitures/École Karaté"
                },
                {
                  "name": "Sécurité Credit",
                  "value": "Sécurité Credit"
                },
                {
                  "name": "Peintre En Batiment",
                  "value": "Peintre En Batiment"
                },
                {
                  "name": "Conseiller En Ingénierie",
                  "value": "Conseiller En Ingénierie"
                },
                {
                  "name": "Grill",
                  "value": "Grill"
                },
                {
                  "name": "Gestion Immobilière",
                  "value": "Gestion Immobilière"
                },
                {
                  "name": "Bbq",
                  "value": "Bbq"
                },
                {
                  "name": "Physiothérapie",
                  "value": "Physiothérapie"
                },
                {
                  "name": "Planification Financière",
                  "value": "Planification Financière"
                },
                {
                  "name": "Repas Préparés",
                  "value": "Repas Préparés"
                },
                {
                  "name": "Électrostimulation",
                  "value": "Électrostimulation"
                },
                {
                  "name": "Publicité Numérique",
                  "value": "Publicité Numérique"
                },
                {
                  "name": "Drones",
                  "value": "Drones"
                },
                {
                  "name": "Cabinet D'Intelligence Créative",
                  "value": "Cabinet D'Intelligence Créative"
                },
                {
                  "name": "Syndic Faillite",
                  "value": "Syndic Faillite"
                },
                {
                  "name": "Consultants Stratégies D'Affaires",
                  "value": "Consultants Stratégies D'Affaires"
                },
                {
                  "name": "Conseiller Sécurité Financière",
                  "value": "Conseiller Sécurité Financière"
                },
                {
                  "name": "Orthèses/Prothèses",
                  "value": "Orthèses/Prothèses"
                },
                {
                  "name": "Nettoyage Haute-Pression",
                  "value": "Nettoyage Haute-Pression"
                },
                {
                  "name": "Revêtements/Moulures",
                  "value": "Revêtements/Moulures"
                },
                {
                  "name": "Location Equipement",
                  "value": "Location Equipement"
                },
                {
                  "name": "Services Nettoyage",
                  "value": "Services Nettoyage"
                },
                {
                  "name": "Publicité Et Marketing Numérique",
                  "value": "Publicité Et Marketing Numérique"
                },
                {
                  "name": "T--Shirt/Chandail/Casquette",
                  "value": "T--Shirt/Chandail/Casquette"
                },
                {
                  "name": "Revêtementd De Plancher",
                  "value": "Revêtementd De Plancher"
                },
                {
                  "name": "Construction/Rénovation",
                  "value": "Construction/Rénovation"
                },
                {
                  "name": "Entrepreneur En Construction",
                  "value": "Entrepreneur En Construction"
                },
                {
                  "name": "Agence Marketing",
                  "value": "Agence Marketing"
                },
                {
                  "name": "Gestion Immobillière",
                  "value": "Gestion Immobillière"
                },
                {
                  "name": "Rbc",
                  "value": "Rbc"
                },
                {
                  "name": "Aréna",
                  "value": "Aréna"
                },
                {
                  "name": "Services Financier",
                  "value": "Services Financier"
                },
                {
                  "name": "Terrain De Golf",
                  "value": "Terrain De Golf"
                },
                {
                  "name": "Clôtures",
                  "value": "Clôtures"
                },
                {
                  "name": "Cabinet D'Assurances",
                  "value": "Cabinet D'Assurances"
                },
                {
                  "name": "Photographe",
                  "value": "Photographe"
                },
                {
                  "name": "Construction Chalet",
                  "value": "Construction Chalet"
                },
                {
                  "name": "Conseil Développement Affaire ",
                  "value": "Conseil Développement Affaire "
                },
                {
                  "name": "École De Karaté",
                  "value": "École De Karaté"
                },
                {
                  "name": "Distribution",
                  "value": "Distribution"
                },
                {
                  "name": "Esthetique",
                  "value": "Esthetique"
                },
                {
                  "name": "Service Domicile",
                  "value": "Service Domicile"
                },
                {
                  "name": "Vente Voiture",
                  "value": "Vente Voiture"
                },
                {
                  "name": "Artiste Peintre",
                  "value": "Artiste Peintre"
                },
                {
                  "name": "Financement",
                  "value": "Financement"
                },
                {
                  "name": "Cigarettes Électroniques",
                  "value": "Cigarettes Électroniques"
                },
                {
                  "name": "Optimisation D’Entreprise",
                  "value": "Optimisation D’Entreprise"
                },
                {
                  "name": "Courtier D'Assurances",
                  "value": "Courtier D'Assurances"
                },
                {
                  "name": "Revêtement Extérieur",
                  "value": "Revêtement Extérieur"
                },
                {
                  "name": "Assurance Automobile",
                  "value": "Assurance Automobile"
                },
                {
                  "name": "École Immobillière",
                  "value": "École Immobillière"
                },
                {
                  "name": "Courtier Hypothécaire",
                  "value": "Courtier Hypothécaire"
                },
                {
                  "name": "Boutique Pour Hommes",
                  "value": "Boutique Pour Hommes"
                },
                {
                  "name": "Ramonage/Excavation",
                  "value": "Ramonage/Excavation"
                },
                {
                  "name": "Pâtisserie/Confiserie",
                  "value": "Pâtisserie/Confiserie"
                },
                {
                  "name": "Gestion Réseaux Sociaux",
                  "value": "Gestion Réseaux Sociaux"
                },
                {
                  "name": "Entrepreneur Général",
                  "value": "Entrepreneur Général"
                },
                {
                  "name": "Escaliers",
                  "value": "Escaliers"
                },
                {
                  "name": "Agence De Marketing",
                  "value": "Agence De Marketing"
                },
                {
                  "name": "Peintres",
                  "value": "Peintres"
                },
                {
                  "name": "Ingénierie Personnalisée",
                  "value": "Ingénierie Personnalisée"
                },
                {
                  "name": "Designer D'Intérieur",
                  "value": "Designer D'Intérieur"
                },
                {
                  "name": "Cuisines Sur Mesure",
                  "value": "Cuisines Sur Mesure"
                },
                {
                  "name": "Studio/École De Percussion",
                  "value": "Studio/École De Percussion"
                },
                {
                  "name": "Coach D'Affaires",
                  "value": "Coach D'Affaires"
                },
                {
                  "name": "Chargé De Projets",
                  "value": "Chargé De Projets"
                },
                {
                  "name": "Golf Intérieur",
                  "value": "Golf Intérieur"
                },
                {
                  "name": "Microbrasserie",
                  "value": "Microbrasserie"
                },
                {
                  "name": "Jeux De Laser",
                  "value": "Jeux De Laser"
                },
                {
                  "name": "Fournitures Animaux",
                  "value": "Fournitures Animaux"
                },
                {
                  "name": "Agence Voyage",
                  "value": "Agence Voyage"
                },
                {
                  "name": "Coach Privé",
                  "value": "Coach Privé"
                },
                {
                  "name": "Location Avec Option Achat Immobilier",
                  "value": "Location Avec Option Achat Immobilier"
                },
                {
                  "name": "Carte Affaires Électronique",
                  "value": "Carte Affaires Électronique"
                },
                {
                  "name": "Centre D'Entrainement",
                  "value": "Centre D'Entrainement"
                },
                {
                  "name": "Salle Entrainement",
                  "value": "Salle Entrainement"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Expertise Entreprise",
              "displayName": "Expertise Entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Intelligence Artificielle",
                  "value": "Intelligence Artificielle"
                },
                {
                  "name": "Défi Pierre Lavoie",
                  "value": "Défi Pierre Lavoie"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Actif",
                  "value": "Actif"
                },
                {
                  "name": "Inactif",
                  "value": "Inactif"
                },
                {
                  "name": "À Réviser",
                  "value": "À Réviser"
                },
                {
                  "name": "OUT",
                  "value": "OUT"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes Transaction",
              "displayName": "Notes Transaction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Adhésion",
              "displayName": "Date Adhésion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Renouvellement",
              "displayName": "Date Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mois Renouvellement",
              "displayName": "Mois Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Periode Renouvellement",
              "displayName": "Periode Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Montant Renouvellement",
              "displayName": "Montant Renouvellement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Montant après rabais",
              "displayName": "Montant après rabais",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "TPS",
              "displayName": "TPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "TVQ",
              "displayName": "TVQ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Montant Total",
              "displayName": "Montant Total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Rabais %",
              "displayName": "Rabais %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rabais $",
              "displayName": "Rabais $",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Rabais",
              "displayName": "Total Rabais",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Montant Adhésion",
              "displayName": "Montant Adhésion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "No Facture",
              "displayName": "No Facture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status Paiement",
              "displayName": "Status Paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "À recevoir",
                  "value": "À recevoir"
                },
                {
                  "name": "Entente de Paiement",
                  "value": "Entente de Paiement"
                },
                {
                  "name": "Payé",
                  "value": "Payé"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Paiement Entente",
              "displayName": "Date Paiement Entente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Montant Paiement Entente",
              "displayName": "Montant Paiement Entente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entente Paiement",
              "displayName": "Entente Paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements Invité",
              "displayName": "Événements Invité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements 2",
              "displayName": "Événements 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date anniversaire",
              "displayName": "Date anniversaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Référreur",
              "displayName": "Référreur",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Commissions Référeur $",
              "displayName": "Commissions Référeur $",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Commissions Référreur %",
              "displayName": "Commissions Référreur %",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements 3",
              "displayName": "Événements 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Événements 4",
              "displayName": "Événements 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Participation Événement",
              "displayName": "Participation Événement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Name (from Participation Événement)",
              "displayName": "Name (from Participation Événement)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Paiements",
              "displayName": "Paiements",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Provenance",
              "displayName": "Provenance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Niveau d'intérêt",
              "displayName": "Niveau d'intérêt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Moyen",
                  "value": "Moyen"
                },
                {
                  "name": "Élevé",
                  "value": "Élevé"
                },
                {
                  "name": "Aucun",
                  "value": "Aucun"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date de suivi",
              "displayName": "Date de suivi",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GreenGo",
              "displayName": "GreenGo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Vert",
                  "value": "Vert"
                },
                {
                  "name": "Jaune",
                  "value": "Jaune"
                },
                {
                  "name": "Rouge",
                  "value": "Rouge"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Investisseur Potentiel",
              "displayName": "Investisseur Potentiel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Qualité Contact",
              "displayName": "Qualité Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "A",
                  "value": "A"
                },
                {
                  "name": "B",
                  "value": "B"
                },
                {
                  "name": "C",
                  "value": "C"
                },
                {
                  "name": "D",
                  "value": "D"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contrats",
              "displayName": "Contrats",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "À réviser",
              "displayName": "À réviser",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Responsable du Suivi",
              "displayName": "Responsable du Suivi",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Christian Gosselin",
                  "value": "Christian Gosselin"
                },
                {
                  "name": "Natasha Wagner",
                  "value": "Natasha Wagner"
                },
                {
                  "name": "Denis Perreault",
                  "value": "Denis Perreault"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vu par denis",
              "displayName": "Vu par denis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Commandites",
              "displayName": "Commandites",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date de Suivi Court",
              "displayName": "Date de Suivi Court",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1880,
        80
      ],
      "id": "2c409a51-0ab3-4677-a1c5-f6766cb2aeaf",
      "name": "Upsert Customer1",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblNNuSPqpcXRzgJF",
          "mode": "list",
          "cachedResultName": "Logs Dev",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblNNuSPqpcXRzgJF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Transaction added",
            "Status": "Success",
            "Notes": "=Customer Email : {{ $('Informations').item.json.customer.email_address }}\n\nProduct : {{ $('Informations').item.json.name }}\n\nAmount : {{ $('Informations').item.json.gross_sales_money_amount / 100}}\n\nRebate : {{ $('Informations').item.json.total_discount_money_amount /100 }}\n\nEvent id : {{ $('Data').item.json.body.event_id }}\n\nReceipt Id : {{ $('Informations').item.json.receipt_number }}\n\nOrder id : {{ $('Get Order').item.json.order.id }}\n\nType : {{ $('Data').item.json.body.type }}\n\nReçu : {{ $('Data').item.json.body.data.object.payment.receipt_number }}",
            "Execution ID": "={{  $execution.id }}",
            "Workflow Name": "={{ $workflow.name }}",
            "Workflow ID": "={{  $workflow.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analysed",
              "displayName": "Analysed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Debug URL",
              "displayName": "Debug URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2280,
        -200
      ],
      "id": "de7aeb6a-f78a-41ee-a910-b7ebc8047191",
      "name": "Insert Log Transaction Added1",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblHIsw6jIryVplLK",
          "mode": "list",
          "cachedResultName": "Commandites",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblHIsw6jIryVplLK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Montant": "={{ $('Informations').item.json.gross_sales_money_amount /100 }}",
            "Contact": "=['{{ $json.id }}']",
            "Name": "=Commandite  {{ $json.fields['Prénom'] }} {{ $json.fields.Nom }}",
            "Notes": "={{ $('Informations').item.json.notes }} - {{ $('Informations').item.json.note_article }}",
            "Rabais": "={{ $('Informations').item.json.total_discount_money_amount /100 }}",
            "Numéro reçu": "={{ $('Informations').item.json.receipt_number }}",
            "Date Paiement": "={{ \n  new Date($('Informations').item.json.created_at)\n  .toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) \n}}",
            "TPS": "={{ $('Informations').item.json.tps }}",
            "TVQ": "={{ $('Informations').item.json.tvq }}",
            "Numéro Transaction": "={{ $('Get Order').item.json.order.id }}",
            "Mode de paiement": "Square",
            "Status Paiement": "={{ \n  $('Informations').item.json.payment_status === 'APPROVED' \n  && $('Informations').item.json.net_amount_due_money === 0 \n    ? 'Payé' \n    : 'À recevoir' \n}}",
            "Notes de paiement": "={{ $('Informations').item.json.card_errors_details }}"
          },
          "matchingColumns": [
            "Numéro Transaction"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Numéro Transaction",
              "displayName": "Numéro Transaction",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Événement",
              "displayName": "Événement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nom de l'événement",
              "displayName": "Nom de l'événement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom Complet du Contact",
              "displayName": "Nom Complet du Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Montant",
              "displayName": "Montant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rabais",
              "displayName": "Rabais",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sous-total",
              "displayName": "Sous-total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Paiement",
              "displayName": "Date Paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes de paiement",
              "displayName": "Notes de paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mode de paiement",
              "displayName": "Mode de paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Square",
                  "value": "Square"
                },
                {
                  "name": "Chèque",
                  "value": "Chèque"
                },
                {
                  "name": "Virement",
                  "value": "Virement"
                },
                {
                  "name": "Cash",
                  "value": "Cash"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TPS",
              "displayName": "TPS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TVQ",
              "displayName": "TVQ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Numéro reçu",
              "displayName": "Numéro reçu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contrat de commandite",
              "displayName": "Contrat de commandite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status Paiement",
              "displayName": "Status Paiement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "À recevoir",
                  "value": "À recevoir"
                },
                {
                  "name": "Payé",
                  "value": "Payé"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2280,
        20
      ],
      "id": "113153ba-f853-4637-9315-ad28c51f2ee0",
      "name": "Add Commandite",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblNNuSPqpcXRzgJF",
          "mode": "list",
          "cachedResultName": "Logs Dev",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblNNuSPqpcXRzgJF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Transaction added",
            "Status": "Success",
            "Notes": "=Customer Email : {{ $('Informations').item.json.customer.email_address }}\n\nProduct : {{ $('Informations').item.json.name }}\n\nAmount : {{ $('Informations').item.json.gross_sales_money_amount / 100}}\n\nRebate : {{ $('Informations').item.json.total_discount_money_amount /100 }}\n\nEvent id : {{ $('Data').item.json.body.event_id }}\n\nReceipt Id : {{ $('Informations').item.json.receipt_number }}\n\nOrder id : {{ $('Get Order').item.json.order.id }}\n\nType : {{ $('Data').item.json.body.type }}\n\nReçu : {{ $('Data').item.json.body.data.object.payment.receipt_number }}",
            "Execution ID": "={{  $execution.id }}",
            "Workflow Name": "={{ $workflow.name }}",
            "Workflow ID": "={{ $workflow.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analysed",
              "displayName": "Analysed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Debug URL",
              "displayName": "Debug URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2560,
        20
      ],
      "id": "a3c85b3c-6a23-48c0-bb8e-41fe4f0577a4",
      "name": "Insert Log Transaction Added2",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKjVmXp6kvATgcO",
          "mode": "list",
          "cachedResultName": "Groupe Performance",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO"
        },
        "table": {
          "__rl": true,
          "value": "tblNNuSPqpcXRzgJF",
          "mode": "list",
          "cachedResultName": "Logs Dev",
          "cachedResultUrl": "https://airtable.com/appKjVmXp6kvATgcO/tblNNuSPqpcXRzgJF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Transaction added",
            "Status": "Error",
            "Notes": "=Customer Email : {{ $('Informations').item.json.customer.email_address }}\n\nProduct : {{ $('Informations').item.json.name }}\n\nAmount : {{ $('Informations').item.json.gross_sales_money_amount / 100}}\n\nRebate : {{ $('Informations').item.json.total_discount_money_amount /100 }}\n\nEvent id : {{ $('Data').item.json.body.event_id }}\n\nReceipt Id : {{ $('Informations').item.json.receipt_number }}\n\nOrder id : {{ $('Get Order').item.json.order.id }}\n\nType : {{ $('Data').item.json.body.type }}\n\nReçu : {{ $('Data').item.json.body.data.object.payment.receipt_number }}",
            "Execution ID": "={{  $execution.id }}",
            "Workflow Name": "={{ $workflow.name }}",
            "Workflow ID": "={{  $workflow.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analysed",
              "displayName": "Analysed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Debug URL",
              "displayName": "Debug URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2280,
        280
      ],
      "id": "7067e88f-acb9-4b0f-afd9-62080bf509d4",
      "name": "Insert Log Transaction Error1",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "V9OsDVhc5AKKxBPb"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-16T13:39:21.071Z",
      "updatedAt": "2024-10-16T13:39:21.071Z",
      "id": "E8nPTYjZtWlaLr4T",
      "name": "Webhook"
    },
    {
      "createdAt": "2025-02-02T13:36:37.412Z",
      "updatedAt": "2025-02-02T13:36:37.412Z",
      "id": "V4OMeuwcX3eNQhlA",
      "name": "Groupe Performance"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-25T15:24:26.000Z",
  "versionId": "0e932199-5a58-4e41-add7-6617692be6ce"
}