workflows2025/04/VRoIwxfeVMJg0XDA.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Extract topic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get email from airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get email from airtable": {
      "main": [
        [
          {
            "node": "already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "already exists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "main": [
        [
          {
            "node": "Cleanup html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup html": {
      "main": [
        [
          {
            "node": "Add email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add email": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "main": [
        [
          {
            "node": "Set loop output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set loop output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract topic": {
      "main": [
        [
          {
            "node": "Combine data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Group topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group topics": {
      "main": [
        [
          {
            "node": "Get default configs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get default configs": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-10T20:21:53.824Z",
  "id": "VRoIwxfeVMJg0XDA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email To News Routine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        0
      ],
      "id": "21b9be48-445b-425b-b5df-608f5620d790",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "id": "11612bf3-14f5-47fa-96f3-3edd2e9da7e4",
      "name": "Get email",
      "webhookId": "1d969c2d-341d-4b5b-8841-2f37816be797",
      "credentials": {
        "gmailOAuth2": {
          "id": "WEzNJNHFimNnj1Sy",
          "name": "Gmail abonnement@ultimvision.io"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "a0a22364-d42e-48ed-bb04-e8794d919278",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tblTN1rs395C6hf8E",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tblTN1rs395C6hf8E"
        },
        "filterByFormula": "=ID = \"{{ $json.id }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1440,
        20
      ],
      "id": "aed6416f-1f2e-452d-8b14-b21717d86d47",
      "name": "Get email from airtable",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c175b7c-3c34-4355-a01a-30596db44ee4",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        20
      ],
      "id": "530a183a-6115-4866-aaba-980ebd6517a4",
      "name": "already exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1672ee1d-e9dc-47f6-aff8-94169d99e892",
              "name": "email",
              "value": "={{ $('Loop Over Items').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2060,
        40
      ],
      "id": "0cefab89-37e2-42fd-a893-d1ae213df89f",
      "name": "Email"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "email.html",
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "body",
              "skipSelectors": "img,svg,a,i,figure,button"
            }
          ]
        },
        "options": {
          "trimValues": false,
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2300,
        40
      ],
      "id": "51114c7a-eb3d-4928-9751-af7015f46ac9",
      "name": "Cleanup html"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tblTN1rs395C6hf8E",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tblTN1rs395C6hf8E"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Body": "={{ $('Email').item.json.email.text || $('Cleanup html').item.json.body }}",
            "ID": "={{ $('Email').item.json.email.id }}",
            "Subject": "={{ $('Email').item.json.email.subject }}",
            "Date": "={{ $('Email').item.json.email.date }}",
            "To": "={{ $('Email').item.json.email.to.value[0].address }}",
            "From": "={{ $('Email').item.json.email.from.value[0].address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Generated Articles",
              "displayName": "Generated Articles",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2520,
        40
      ],
      "id": "2596b0e7-c872-407a-9e18-ad153c11f19a",
      "name": "Add email",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Email').item.json.email.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2740,
        40
      ],
      "id": "0016f92f-4ec0-44c0-9239-6e085aaa4875",
      "name": "Mark as read",
      "webhookId": "e20f27af-89f4-49b6-869c-26da588c84ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "WEzNJNHFimNnj1Sy",
          "name": "Gmail abonnement@ultimvision.io"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7166d50a-6e0d-47a9-a5cf-80bca03b0b94",
              "name": "email",
              "value": "={{ $('Add email').item.json.fields }}",
              "type": "object"
            },
            {
              "id": "c77008b9-8706-450a-b72a-5c4458c1b6da",
              "name": "airtable_email_id",
              "value": "={{ $('Add email').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        40
      ],
      "id": "259d62e3-6caa-4bf7-8c43-53f4a381cd6d",
      "name": "Set loop output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Eq7FMPEle9Cd1oim",
          "mode": "list",
          "cachedResultName": "Boost — Run Prompt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_id": "recP2B98SXEH9yJvW",
            "input": "=Extract topics and related contents from this email:\n\nEmail subject: \n{{ $json.email.Subject }}\n\nEmail Body:\n{{ $json.email.Body }}\n\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_id",
              "displayName": "prompt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        -280
      ],
      "id": "956dfb66-dc8a-4b34-b0a0-95ecab84176a",
      "name": "Extract topic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a66fa309-4334-47ef-a61a-1676ec8019f2",
              "name": "output.topics",
              "value": "={{ $json.output.topics }}",
              "type": "array"
            },
            {
              "id": "a44c1dbf-42fa-4626-aeaf-d9b4671369c6",
              "name": "email_id",
              "value": "={{ $('Loop Over Items').item.json.airtable_email_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        -280
      ],
      "id": "f2d55d29-286f-4713-b2de-4653e13e4ce6",
      "name": "Combine data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1740,
        -280
      ],
      "id": "ebd4a053-4c9a-44cb-8d21-7a7075bf31bf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Eq7FMPEle9Cd1oim",
          "mode": "list",
          "cachedResultName": "Boost — Run Prompt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_id": "recdZaXsmK99Uj1QS",
            "input": "={{ $json.data.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt_id",
              "displayName": "prompt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1960,
        -280
      ],
      "id": "ab014266-4d6a-4feb-a1a4-58d3b7664b92",
      "name": "Group topics"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.topics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2840,
        -300
      ],
      "id": "bac8a8cb-8e62-47d8-a330-cfff27d7ce03",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tblPOtPHvKB1Md0Yr",
          "mode": "list",
          "cachedResultName": "Sources",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tblPOtPHvKB1Md0Yr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Use Perplexity": true,
            "Title": "={{ $json.topic }}",
            "URL": "=emails: {{ $json.topic }}",
            "Content": "={{ $json.content }}",
            "Emails": "={{ $json.emailIds }}",
            "Language": "french",
            "Web Prompt Recipe": "={{ $('Merge').item.json.configs.find(i => i.Name === 'default_web_prompt_recipe').Recipe }}",
            "Facebook Prompt Recipe": "={{ $('Merge').item.json.configs.find(i => i.Name === 'default_facebook_prompt_recipe').Recipe }}",
            "LinkedIn Prompt Recipe": "={{ $('Merge').item.json.configs.find(i => i.Name === 'default_linkedin_prompt_recipe').Recipe }}",
            "Image Generation Prompt": "={{ $('Merge').item.json.configs.find(i => i.Name === 'default_image_prompt').Prompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Generate Article",
              "displayName": "Generate Article",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Generated Articles",
              "displayName": "Generated Articles",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publishing Date",
              "displayName": "Publishing Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "french",
                  "value": "french"
                },
                {
                  "name": "english",
                  "value": "english"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Web Prompt Recipe",
              "displayName": "Web Prompt Recipe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Prompt Recipe",
              "displayName": "Facebook Prompt Recipe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Prompt Recipe",
              "displayName": "LinkedIn Prompt Recipe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Generation Prompt",
              "displayName": "Image Generation Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Use Perplexity",
              "displayName": "Use Perplexity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3060,
        -300
      ],
      "id": "586365aa-d520-4c3f-9911-ce6cde4e1d68",
      "name": "Create sources",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl90k8HhVKatW69b",
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl90k8HhVKatW69b"
        },
        "filterByFormula": "LEFT({Name}, 8) = \"default_\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2180,
        -520
      ],
      "id": "2c441115-1f14-4dcf-a8ac-f3380f0bda39",
      "name": "Get default configs",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "configs",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2400,
        -520
      ],
      "id": "e28a8eac-21a4-4bc0-875f-c7e1a8832bfc",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        -300
      ],
      "id": "3d26341f-769b-43f3-b602-f7ca15c4dd72",
      "name": "Merge"
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-04-11T14:45:49.277Z",
      "updatedAt": "2025-04-11T14:45:49.277Z",
      "id": "KRGqRbCNw3WUu4eP",
      "name": "Scheduled"
    },
    {
      "createdAt": "2025-04-09T18:54:30.662Z",
      "updatedAt": "2025-04-09T18:54:30.662Z",
      "id": "bwORh3v4jHXqexLE",
      "name": "Publishing"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-24T15:05:51.000Z",
  "versionId": "54f92745-2298-470f-8793-23ef01fba903"
}