workflows2025/04/Z0gwRiYPI6mhWIny.json
{
  "active": true,
  "connections": {
    "Generate Article": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get source": {
      "main": [
        [
          {
            "node": "Add Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate web article": {
      "main": [
        [
          {
            "node": "web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate facebook post": {
      "main": [
        [
          {
            "node": "facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate linkedin post": {
      "main": [
        [
          {
            "node": "linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate image": {
      "main": [
        [
          {
            "node": "image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "web": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "facebook": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "linkedin": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Generated Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Get article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Get source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get source1": {
      "main": [
        [
          {
            "node": "Generate image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get article": {
      "main": [
        [
          {
            "node": "Get source1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate image1": {
      "main": [
        [
          {
            "node": "Update image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to WP": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Publish to WP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to WP1": {
      "main": [
        [
          {
            "node": "Update article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "Publish to Circle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Circle": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Circle1": {
      "main": [
        [
          {
            "node": "Update article1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Perplexity Research": {
      "main": [
        [
          {
            "node": "Add Perplexity Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Perplexity Context": {
      "main": [
        [
          {
            "node": "Set input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input": {
      "main": [
        [
          {
            "node": "Generate web article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate facebook post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate linkedin post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook4": {
      "main": [
        [
          {
            "node": "Publish to Ayrshare1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Ayrshare": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Ayrshare1": {
      "main": [
        [
          {
            "node": "Update article2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze and Split Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook5": {
      "main": [
        [
          {
            "node": "Analyze and split topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On image upload": {
      "main": [
        [
          {
            "node": "Form redirect",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add new filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to DO": {
      "main": [
        [
          {
            "node": "Set download url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add new filename": {
      "main": [
        [
          {
            "node": "Upload to DO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is webp": {
      "main": [
        [
          {
            "node": "Update article featured image url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to webp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set download url": {
      "main": [
        [
          {
            "node": "is webp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to webp": {
      "main": [
        [
          {
            "node": "Update article featured image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form redirect": {
      "main": [
        []
      ]
    },
    "Publish All": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook6": {
      "main": [
        [
          {
            "node": "Publish to web",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to circle",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to Ayrshare2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-09T18:54:23.002Z",
  "id": "Z0gwRiYPI6mhWIny",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Publishing Webhooks",
  "nodes": [
    {
      "parameters": {
        "path": "publishing/generate-article",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "id": "6ef2bc0c-8041-4445-9969-167d5a99bca6",
      "name": "Generate Article",
      "webhookId": "02495aea-6aeb-4de5-b402-a3eb06dd7e1c",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "path": "publishing/generate-image",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        920
      ],
      "id": "93547e60-6a19-4db6-aed7-9ae02642636d",
      "name": "Generate Image",
      "webhookId": "02495aea-6aeb-4de5-b402-a3eb06dd7e1c",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tblPOtPHvKB1Md0Yr",
          "mode": "list",
          "cachedResultName": "Sources",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tblPOtPHvKB1Md0Yr"
        },
        "id": "={{ $json.query.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "id": "3c3f34de-4929-4769-9eaa-f338acb43804",
      "name": "Get source",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D0AN4TsHNMm3IAw5",
          "mode": "list",
          "cachedResultName": "Boost — Run LLM Chain"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "=Language: \n{{ $('Get source').first().json.Language }}\n\nContent:\n{{ $('Get source').first().json.Content }}\n\nExtra context:\n{{ $json.content || 'none' }}",
            "recipe_id": "={{ $('Get source').first().json[\"Web Prompt Recipe\"][0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "recipe_id",
              "displayName": "recipe_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        -320
      ],
      "id": "70725051-6bff-458b-a155-b50b96001bbd",
      "name": "Generate web article"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "593868e3-f50d-4b69-9fe2-9adb201911ed",
              "name": "web",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        -320
      ],
      "id": "01261a86-df71-48f8-bdf7-1485b3661bac",
      "name": "web"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D0AN4TsHNMm3IAw5",
          "mode": "list",
          "cachedResultName": "Boost — Run LLM Chain"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "=Language: \n{{ $('Get source').first().json.Language }}\n\nContent:\n{{ $('Get source').first().json.Content }}\n\nExtra context:\n{{ $json.content || 'none' }}",
            "recipe_id": "={{ $('Get source').first().json[\"Facebook Prompt Recipe\"][0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "recipe_id",
              "displayName": "recipe_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        -100
      ],
      "id": "b8572aeb-18c0-47be-aeb5-b827efd07d83",
      "name": "Generate facebook post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "593868e3-f50d-4b69-9fe2-9adb201911ed",
              "name": "facebook",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        -100
      ],
      "id": "4c0a272d-d64f-4867-9735-17bbf3ec16cc",
      "name": "facebook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D0AN4TsHNMm3IAw5",
          "mode": "list",
          "cachedResultName": "Boost — Run LLM Chain"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "=Language: \n{{ $('Get source').first().json.Language }}\n\nContent:\n{{ $('Get source').first().json.Content }}\n\nExtra context:\n{{ $json.content || 'none' }}",
            "recipe_id": "={{ $('Get source').first().json[\"LinkedIn Prompt Recipe\"][0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "recipe_id",
              "displayName": "recipe_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        120
      ],
      "id": "d1621ec4-0417-443b-9e78-a0d7a9e9e8b0",
      "name": "Generate linkedin post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "593868e3-f50d-4b69-9fe2-9adb201911ed",
              "name": "linkedin",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        120
      ],
      "id": "1468377f-f203-445c-94f6-f50cbff1066b",
      "name": "linkedin"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gmEscZCrLO4GcpW2",
          "mode": "list",
          "cachedResultName": "Boost — Generate AI Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $('Get source').first().json[\"Image Generation Prompt\"][0] }}",
            "context": "=Language: \n{{ $('Get source').first().json.Language }}\n\nContent:\n{{ $('Get source').first().json.Content }}\n\nExtra context:\n{{ $json.content || 'none' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        340
      ],
      "id": "3baa43c2-0c64-4d60-9d7c-4e1537749b28",
      "name": "Generate image",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "293b1f6a-99ff-4217-a754-78454b433b2c",
              "name": "featured_image_url",
              "value": "={{ $json.url || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        340
      ],
      "id": "cd7e27e2-cafa-4aaa-a41f-00a44fa2e98f",
      "name": "image"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2780,
        -20
      ],
      "id": "ce7b083b-43d5-46a8-9786-af4195e2883d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl470iWRiQEZxTUe",
          "mode": "list",
          "cachedResultName": "Generated Articles",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl470iWRiQEZxTUe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.web.title }}",
            "source": "={{ [$('Get source').item.json.id] }}",
            "content_web": "={{ $json.web.html }}",
            "featured_image_url": "={{ $json.featured_image_url }}",
            "language": "={{ $('Get source').item.json.Language }}",
            "raw_content_web": "={{ $json.web.content }}",
            "scheduled_date": "={{ $('Get source').item.json[\"Publishing Date\"] }}",
            "content_facebook": "={{ $json.facebook.content }}",
            "content_linkedin": "={{ $json.linkedin.content }}",
            "research_result": "={{ $('Set input').first().json.content || null }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_web",
              "displayName": "content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "featured_image_url",
              "displayName": "featured_image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "web_published_url",
              "displayName": "web_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_status",
              "displayName": "web_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_web",
              "displayName": "publish_to_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "circle_published_url",
              "displayName": "circle_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "circle_published_status",
              "displayName": "circle_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_circle",
              "displayName": "publish_to_circle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "URL (from source)",
              "displayName": "URL (from source)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "manual_featured_image",
              "displayName": "manual_featured_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "research_prompt",
              "displayName": "research_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_result",
              "displayName": "research_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate image",
              "displayName": "Generate image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image Generation Prompt",
              "displayName": "Image Generation Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_content_web",
              "displayName": "raw_content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publish_as",
              "displayName": "publish_as",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "publish",
                  "value": "publish"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ayrshare_response",
              "displayName": "ayrshare_response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "facebook",
                  "value": "facebook"
                },
                {
                  "name": "linkedin",
                  "value": "linkedin"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scheduled_date",
              "displayName": "scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publish to Ayrshare",
              "displayName": "Publish to Ayrshare",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "content_facebook",
              "displayName": "content_facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "content_linkedin",
              "displayName": "content_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3120,
        0
      ],
      "id": "c5f5c54c-6a7d-4d5e-abcc-c9466f9ed593",
      "name": "Create Generated Article",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        920
      ],
      "id": "e4140d44-01ac-474f-884f-6bbed5d45d60",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "1e7bcec0-3da1-4cd0-ab3f-94e0257e333b",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tblPOtPHvKB1Md0Yr",
          "mode": "list",
          "cachedResultName": "Sources",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tblPOtPHvKB1Md0Yr"
        },
        "id": "={{ $json.source[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        980,
        920
      ],
      "id": "38a55190-788a-4045-b2d6-e87a55460a9c",
      "name": "Get source1",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gmEscZCrLO4GcpW2",
          "mode": "list",
          "cachedResultName": "Boost — Generate AI Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json[\"Image Generation Prompt\"][0] }}",
            "context": "=Title:\n{{ $json.Title }}\n\nContent: \n{{ $json.Content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1340,
        920
      ],
      "id": "a51e1e00-7cbc-40ad-bd6a-edff5eb5ee6e",
      "name": "Generate image1"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl470iWRiQEZxTUe",
          "mode": "list",
          "cachedResultName": "Generated Articles",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl470iWRiQEZxTUe"
        },
        "id": "={{ $json.query.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        920
      ],
      "id": "3dd5942a-05e2-4435-8c0a-35283979f19d",
      "name": "Get article",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl470iWRiQEZxTUe",
          "mode": "list",
          "cachedResultName": "Generated Articles",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl470iWRiQEZxTUe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get article').item.json.id }}",
            "featured_image_url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_web",
              "displayName": "content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "featured_image_url",
              "displayName": "featured_image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "web_published_url",
              "displayName": "web_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_status",
              "displayName": "web_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_web",
              "displayName": "publish_to_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "circle_published_url",
              "displayName": "circle_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "circle_published_status",
              "displayName": "circle_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_circle",
              "displayName": "publish_to_circle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "URL (from source)",
              "displayName": "URL (from source)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "manual_featured_image",
              "displayName": "manual_featured_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_prompt",
              "displayName": "research_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_result",
              "displayName": "research_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate image",
              "displayName": "Generate image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Image Generation Prompt",
              "displayName": "Image Generation Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_content_web",
              "displayName": "raw_content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_as",
              "displayName": "publish_as",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "publish",
                  "value": "publish"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ayrshare_response",
              "displayName": "ayrshare_response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "facebook",
                  "value": "facebook"
                },
                {
                  "name": "linkedin",
                  "value": "linkedin"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scheduled_date",
              "displayName": "scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish to Ayrshare",
              "displayName": "Publish to Ayrshare",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "content_facebook",
              "displayName": "content_facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_linkedin",
              "displayName": "content_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1700,
        920
      ],
      "id": "32a5ee9a-ef95-45e1-bd2c-66e0d4961fb7",
      "name": "Update image url",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "publishing/publish/web",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2280
      ],
      "id": "9bded62f-fabd-4aaa-86a0-e50d0994835d",
      "name": "Publish to WP",
      "webhookId": "02495aea-6aeb-4de5-b402-a3eb06dd7e1c",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        2280
      ],
      "id": "5aab2fb9-a115-48a8-b6a2-0f9b276cf7fc",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iDTto90doE8uhefA",
          "mode": "list",
          "cachedResultName": "Boost — Publish to WP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.query.record_id }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        580,
        2280
      ],
      "id": "c1f5be8d-7368-4acd-8fce-f802859be48c",
      "name": "Publish to WP1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl470iWRiQEZxTUe",
          "mode": "list",
          "cachedResultName": "Generated Articles",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl470iWRiQEZxTUe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Publish to WP').item.json.query.record_id }}",
            "web_published_url": "={{ $json.link }}",
            "web_published_status": "={{ $json.status.startsWith('publish') ? 'published' : 'draft' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate image",
              "displayName": "Generate image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "featured_image_url",
              "displayName": "featured_image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "manual_featured_image",
              "displayName": "manual_featured_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_web",
              "displayName": "content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_url",
              "displayName": "web_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "web_published_status",
              "displayName": "web_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "wordpress_template",
              "displayName": "wordpress_template",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "page-with-sidebar",
                  "value": "page-with-sidebar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_web",
              "displayName": "publish_to_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "circle_published_url",
              "displayName": "circle_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "circle_published_status",
              "displayName": "circle_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_circle",
              "displayName": "publish_to_circle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "URL (from source)",
              "displayName": "URL (from source)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_prompt",
              "displayName": "research_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_result",
              "displayName": "research_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_content_web",
              "displayName": "raw_content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_as",
              "displayName": "publish_as",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "publish",
                  "value": "publish"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ayrshare_response",
              "displayName": "ayrshare_response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "facebook",
                  "value": "facebook"
                },
                {
                  "name": "linkedin",
                  "value": "linkedin"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scheduled_date",
              "displayName": "scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish to Ayrshare",
              "displayName": "Publish to Ayrshare",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "content_facebook",
              "displayName": "content_facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_linkedin",
              "displayName": "content_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        860,
        2280
      ],
      "id": "321b5a93-4cf2-4569-bc6e-2961d70a16ec",
      "name": "Update article",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        2540
      ],
      "id": "33d2a08c-fb0b-448f-9ba5-e3ffa29d7189",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl470iWRiQEZxTUe",
          "mode": "list",
          "cachedResultName": "Generated Articles",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl470iWRiQEZxTUe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Publish to Circle').item.json.query.record_id }}",
            "circle_published_url": "={{ $('Publish to Circle1').item.json.post.url }}",
            "circle_published_status": "={{ $('Publish to Circle1').item.json.post.status === 'draft' ? 'draft' : 'published' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate image",
              "displayName": "Generate image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "featured_image_url",
              "displayName": "featured_image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "manual_featured_image",
              "displayName": "manual_featured_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_web",
              "displayName": "content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_url",
              "displayName": "web_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_status",
              "displayName": "web_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "wordpress_template",
              "displayName": "wordpress_template",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "page-with-sidebar",
                  "value": "page-with-sidebar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_web",
              "displayName": "publish_to_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "circle_published_url",
              "displayName": "circle_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "circle_published_status",
              "displayName": "circle_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publish_to_circle",
              "displayName": "publish_to_circle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "URL (from source)",
              "displayName": "URL (from source)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_prompt",
              "displayName": "research_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_result",
              "displayName": "research_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_content_web",
              "displayName": "raw_content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_as",
              "displayName": "publish_as",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "publish",
                  "value": "publish"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ayrshare_response",
              "displayName": "ayrshare_response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "facebook",
                  "value": "facebook"
                },
                {
                  "name": "linkedin",
                  "value": "linkedin"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scheduled_date",
              "displayName": "scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish to Ayrshare",
              "displayName": "Publish to Ayrshare",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "content_facebook",
              "displayName": "content_facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_linkedin",
              "displayName": "content_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        860,
        2540
      ],
      "id": "ecff587b-ebe0-4c23-96a9-17e70428e54e",
      "name": "Update article1",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "publishing/publish/circle",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2540
      ],
      "id": "7ab4f3eb-6cd7-42cf-a721-f519659d4396",
      "name": "Publish to Circle",
      "webhookId": "02495aea-6aeb-4de5-b402-a3eb06dd7e1c",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HRBe3vVzBtcf8J5I",
          "mode": "list",
          "cachedResultName": "Boost — Publish to Circle"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.query.record_id }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        580,
        2540
      ],
      "id": "c5db0e17-15e9-4f4a-92e7-6559cc1c11cd",
      "name": "Publish to Circle1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f027ff3-e528-4242-a7f8-a8595a22def1",
              "leftValue": "={{ $json[\"Use Perplexity\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        0
      ],
      "id": "855c6925-1f4d-40c7-93f1-3921961e097f",
      "name": "Add Perplexity Research"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "A0py4oainke3gbQh",
          "mode": "list",
          "cachedResultName": "Boost — Run Perplexity"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $('Get source').first().json.Content }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        -160
      ],
      "id": "d8bd5c10-b799-4763-93d8-c6eb54951784",
      "name": "Add Perplexity Context"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        20
      ],
      "id": "331afa7b-a69e-44ba-a0f2-fb9560977909",
      "name": "Set input"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        2820
      ],
      "id": "d1809b4c-8f06-4b01-9f06-c652e632c18a",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl470iWRiQEZxTUe",
          "mode": "list",
          "cachedResultName": "Generated Articles",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl470iWRiQEZxTUe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Publish to Ayrshare').item.json.query.record_id }}",
            "ayrshare_response": "={{ $json.toJsonString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate image",
              "displayName": "Generate image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "featured_image_url",
              "displayName": "featured_image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "manual_featured_image",
              "displayName": "manual_featured_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_web",
              "displayName": "content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_url",
              "displayName": "web_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_status",
              "displayName": "web_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "wordpress_template",
              "displayName": "wordpress_template",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "page-with-sidebar",
                  "value": "page-with-sidebar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_web",
              "displayName": "publish_to_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "circle_published_url",
              "displayName": "circle_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "circle_published_status",
              "displayName": "circle_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_circle",
              "displayName": "publish_to_circle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "URL (from source)",
              "displayName": "URL (from source)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_prompt",
              "displayName": "research_prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_result",
              "displayName": "research_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_content_web",
              "displayName": "raw_content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_as",
              "displayName": "publish_as",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "publish",
                  "value": "publish"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ayrshare_response",
              "displayName": "ayrshare_response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "facebook",
                  "value": "facebook"
                },
                {
                  "name": "linkedin",
                  "value": "linkedin"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scheduled_date",
              "displayName": "scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish to Ayrshare",
              "displayName": "Publish to Ayrshare",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "content_facebook",
              "displayName": "content_facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_linkedin",
              "displayName": "content_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        860,
        2820
      ],
      "id": "8f0853ca-3d91-447a-9111-8e07b296a652",
      "name": "Update article2",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "publishing/publish/ayrshare",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        2820
      ],
      "id": "cd48c2fb-514b-4376-a1c9-29cd4269f3c5",
      "name": "Publish to Ayrshare",
      "webhookId": "02495aea-6aeb-4de5-b402-a3eb06dd7e1c",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ECir0M4f07Q50MjQ",
          "mode": "list",
          "cachedResultName": "Boost — Publish to Ayrshare"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.query.record_id }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        580,
        2820
      ],
      "id": "15f99d09-59b9-4246-ad4d-df9f95de55ce",
      "name": "Publish to Ayrshare1"
    },
    {
      "parameters": {
        "content": "# Publishing Webhooks",
        "height": 1280,
        "width": 1340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        1720
      ],
      "id": "c55c59e4-6f69-47ef-ba77-d423581ad56e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Image Generation Webhook",
        "height": 380,
        "width": 2120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        800
      ],
      "id": "d9f90d5e-70be-472d-9ddf-c546aa6f128b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "#  Article Generation Webhook",
        "height": 1200,
        "width": 3620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -440
      ],
      "id": "38a4b0f0-2567-4262-8454-06e3ce02f445",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Analyze and split source into topics",
        "height": 380,
        "width": 2120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        1260
      ],
      "id": "2b77c5a7-b2aa-4042-9441-e3ec27624ffe",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "publishing/analyze-split-topic",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1420
      ],
      "id": "99c72443-f044-4c10-a096-59e55278017a",
      "name": "Analyze and Split Webhook",
      "webhookId": "02495aea-6aeb-4de5-b402-a3eb06dd7e1c",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        340,
        1420
      ],
      "id": "8518adce-cbbf-468b-90b4-ce4eedcca5c2",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NPijJhKOtQJtcwjb",
          "mode": "list",
          "cachedResultName": "Boost — Analyze and split source topics"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ $json.query.record_id }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        660,
        1420
      ],
      "id": "f2b29ba6-7d72-41f5-ac09-62006e059131",
      "name": "Analyze and split topics"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Publishing Article Image Override",
        "formDescription": "This form allows you to upload an image that will override the existing 'featured_image_url' property with a new url to your uploaded image.\n\nYour uploaded image will be:\n- converted to webp\n- upload to a Digital Ocean space with a URL\n\nFinally, the airtable record you clicked to get to this form will be updated with a new 'featured_image_url'",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldType": "hiddenField",
              "fieldName": "record_id"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "path": "publishing/override-featured-image",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -20,
        3440
      ],
      "id": "2321ac02-e886-47ce-b195-93dd739438f5",
      "name": "On image upload",
      "webhookId": "11001292-6e77-45c1-ba3b-534ed05efcda",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "boost-data",
        "fileName": "={{ `publishing/${$json.filename}.${$binary.File.fileExtension}` }}",
        "binaryPropertyName": "File",
        "additionalFields": {
          "acl": "publicRead"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        460,
        3440
      ],
      "id": "590885f3-d7da-4fc8-ae71-9f13bbf69f05",
      "name": "Upload to DO",
      "credentials": {
        "s3": {
          "id": "BZ5XEM3lrlDQnmwG",
          "name": "S3 DigitalOcean boost-data"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecb6f3bc-59ad-48c4-9c4a-50d2eaede73e",
              "name": "url",
              "value": "={{ `https://boost-data.nyc3.cdn.digitaloceanspaces.com/publishing/${$('Add new filename').first().json.filename}.${$('Add new filename').item.binary.File.fileExtension}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        3440
      ],
      "id": "1b7c4ef2-8cc5-42af-a6ac-238d007430c5",
      "name": "Set download url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cbf44cb-7810-493c-8aff-f375a1eddc48",
              "name": "filename",
              "value": "={{ $now.toMillis() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        3440
      ],
      "id": "da64da06-b824-49ad-a113-79436fbe2841",
      "name": "Add new filename"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a6f547d-2a7e-4a03-bdc8-39015101a37d",
              "leftValue": "={{ $json.url }}",
              "rightValue": ".webp",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        3440
      ],
      "id": "5af4ff3d-3764-4c71-88ba-f46627d9ae6f",
      "name": "is webp"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0lsNxVY9QFWvP5Mv",
          "mode": "list",
          "cachedResultName": "Boost — Compress image to webp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "delete_original": true,
            "image_url": "={{ $json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "delete_original",
              "displayName": "delete_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        3620
      ],
      "id": "2c9c887b-aea6-49ca-a50f-bcf3d5f59510",
      "name": "Convert to webp"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appY3aedb8dbqsB6a",
          "mode": "list",
          "cachedResultName": "Publishing",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a"
        },
        "table": {
          "__rl": true,
          "value": "tbl470iWRiQEZxTUe",
          "mode": "list",
          "cachedResultName": "Generated Articles",
          "cachedResultUrl": "https://airtable.com/appY3aedb8dbqsB6a/tbl470iWRiQEZxTUe"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('On image upload').first().json.record_id }}",
            "featured_image_url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate image",
              "displayName": "Generate image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "featured_image_url",
              "displayName": "featured_image_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "manual_featured_image",
              "displayName": "manual_featured_image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_web",
              "displayName": "content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_url",
              "displayName": "web_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "web_published_status",
              "displayName": "web_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "wordpress_template",
              "displayName": "wordpress_template",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "page-with-sidebar",
                  "value": "page-with-sidebar"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_web",
              "displayName": "publish_to_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "circle_published_url",
              "displayName": "circle_published_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "circle_published_status",
              "displayName": "circle_published_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "published",
                  "value": "published"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_to_circle",
              "displayName": "publish_to_circle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "URL (from source)",
              "displayName": "URL (from source)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "research_result",
              "displayName": "research_result",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "raw_content_web",
              "displayName": "raw_content_web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "publish_as",
              "displayName": "publish_as",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "draft",
                  "value": "draft"
                },
                {
                  "name": "publish",
                  "value": "publish"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ayrshare_response",
              "displayName": "ayrshare_response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "facebook",
                  "value": "facebook"
                },
                {
                  "name": "linkedin",
                  "value": "linkedin"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scheduled_date",
              "displayName": "scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish to Ayrshare",
              "displayName": "Publish to Ayrshare",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "content_facebook",
              "displayName": "content_facebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content_linkedin",
              "displayName": "content_linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1340,
        3440
      ],
      "id": "b3904b2f-4edd-4598-bcfb-663a25320d49",
      "name": "Update article featured image url",
      "credentials": {
        "airtableTokenApi": {
          "id": "1prPZf1FTg4yZ1Ch",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Featured Image Manual Upload",
        "height": 800,
        "width": 1740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        3060
      ],
      "id": "26d550b5-9668-43c3-9ea0-1e7010075918",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        120,
        3260
      ],
      "id": "79b88a85-c1af-4d4a-94c7-879f46a5e78e",
      "name": "Form redirect",
      "webhookId": "3a867a77-2ceb-4a92-b9c3-bd8d10856dfc"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5Y1MWwO1SegKIwJI",
          "mode": "list",
          "cachedResultName": "Boost — Send Slack Notification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json }}",
            "workflowId": "={{ $workflow.id }}",
            "executionId": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflowId",
              "displayName": "workflowId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2280,
        540
      ],
      "id": "27553453-ad84-4b2c-b4aa-9797d00e6013",
      "name": "Send Slack Notification"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "=https://n8n-status.boostperformance.ai?id={{ $execution.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        1960
      ],
      "id": "b9ccfdc4-1cf3-4284-a846-c8f6c931ac78",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "path": "publishing/publish/all",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1960
      ],
      "id": "583f5a32-8dfe-47fb-981f-72a61ae76e65",
      "name": "Publish All",
      "webhookId": "02495aea-6aeb-4de5-b402-a3eb06dd7e1c",
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "url": "https://boostperformance.app.n8n.cloud/webhook/publishing/publish/web",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "record_id",
              "value": "={{ $('Publish All').first().json.query.record_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1840
      ],
      "id": "77ddc365-b6c1-4f47-b4f7-13b005bb36a5",
      "name": "Publish to web",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "url": "https://boostperformance.app.n8n.cloud/webhook/publishing/publish/circle",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "record_id",
              "value": "={{ $('Publish All').first().json.query.record_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2040
      ],
      "id": "89690037-0e07-45c3-8d96-eb82a301b4a9",
      "name": "Publish to circle",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    },
    {
      "parameters": {
        "url": "https://boostperformance.app.n8n.cloud/webhook/publishing/publish/ayrshare",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "record_id",
              "value": "={{ $('Publish All').first().json.query.record_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        1960
      ],
      "id": "4c12e871-9871-44ea-bd05-d68551ce2b91",
      "name": "Publish to Ayrshare2",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "vWv0jOl3dsDFS86m",
          "name": "Airtable Publishing"
        }
      }
    }
  ],
  "repo_name": "n8n-boost-performance",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "S0qWUDOmweuNpnn1"
  },
  "staticData": {
    "node:On image upload": {
      "record_id": "recsPVQOiIQIWqvg7"
    }
  },
  "tags": [
    {
      "createdAt": "2024-10-16T13:39:21.071Z",
      "updatedAt": "2024-10-16T13:39:21.071Z",
      "id": "E8nPTYjZtWlaLr4T",
      "name": "Webhook"
    },
    {
      "createdAt": "2025-04-09T18:54:30.662Z",
      "updatedAt": "2025-04-09T18:54:30.662Z",
      "id": "bwORh3v4jHXqexLE",
      "name": "Publishing"
    }
  ],
  "triggerCount": 8,
  "updatedAt": "2025-04-28T13:03:19.000Z",
  "versionId": "617ec1cf-bb22-49d0-aa90-b88226caf7a9"
}